<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="/styles/about.css">
    <script type="text/javascript" src="/js/home.js>"></script>
</head>
<body>
    <header class="header">
        <div class="wrap" style="display: flex;justify-content: space-around;">
            <div class="page-wrap">
                <h1 id="branding">
                    <a href="" class="custom-logo-link" rel="home" aria-current="page">
                        <img width="346" height="48" src="https://cdn.dragoncapital.com/media/2019/04/30153017/dragon-capital.svg" class="custom-logo" alt="Dragon Capital Group">
                    </a>
                </h1>
            </div>
            <input class="menu-btn" type="checkbox" id="menu-btn"/>   
            <label class="menu-icon" for="menu-btn">
                <span class="nav-icon"></span>
            </label>              
            <ul class="menu">
                <li><a href="about">ABOUT</a>
                    <ul>
                        <li><a href="Board_Management" >Board &amp; Management</a></li>
                        <li><a href="VietNam.html" >VietNam</a></li>
                        <li><a href="Affiliations" >Affiliations</a></li>
                        <li><a href="History" >History</a></li>
                        <li><a href="Responsible_Investment" >Responsible Investment</a></li>
                        <li><a href="Careers" >Careers</a></li>
                    </ul>
                </li>
                <li><a href="OUR_PRODUCTS">OUR PRODUTOR</a>
                    <ul>
                        <li><a href="Vietnam_Enterprise_Investments_Limited.html">Vietnam Enterprise Investments Limited</a></li>
                        <li><a href="" >Vietnam Equity (UCITS) Fund</a></li>
                        <li><a href="#" >Vietnam Debt Fund SPC – B Share</a></li>
                        <li><a href="Segregated_Managed_Accounts.html" >Segregated Managed Accounts</a></li>
                    </ul>
                </li>
                <li><a href="NEWS -EVENTS">NEWS & EVENTS</a></li>
                <li><a href="Contact">CONTACT</a></li>
            </ul>
        </div>
    </header>
     <div class="page-banner sm" style="background-image: url(https://cdn.dragoncapital.com/media/2019/05/30150915/dragon-capital-4.jpg); background-position: 0 60%;" id="static">	
        <div class="wrap">
            <div class="banner-content">
                <h1> Creating Opportunity<br> in Vietnam and <br> Beyond for over 25 <br> years</h1>
            </div>
        </div>
    </div>
    <div class="section-conten">
        <div class="section">
            <div class="section-text">
                <h3> ABOUT</h3>
                <p class="subtitle">An integrated group focused on Vietnam</p>
            </div>
        </div>
    </div>
   <section class="section-container">
       <div class="section-warp">
           <div class="warp-left">
               <ul>
                    <li style="border-top: 2px solid #007d68;"><a href="Board_Management">Board &amp; Management</a></li>
                    <li ><a href="VietNam">Vietnam</a></li>
                    <li ><a href="Affiliations">Affiliations</a></li>
                    <li ><a href="History">History</a></li>
                    <li ><a href="Responsible_Investment">Responsible Investment</a></li>
                    <li style="border-bottom: 2px solid #007d68;"><a href="Careers">Careers</a></li> 
               </ul>
            </div>   
       </div>
       <div class="warp-right">
            <div class="right-text">
                <h2>Our company</h2>
                <p >
                    Founded in 1994 with a team of six and $18mn AUM, Dragon Capital has since developed into an integrated investment platform focused on Vietnam and other Southeast Asian emerging markets and is Vietnam’s longest established independent asset manager with $6bn AUM (as of 31 Dec 2021 – unaudited), primarily invested in listed equities, but with additional in-house capability in private equity, clean-tech, fixed income and real estate.
                </p>
                <p> For over two decades, Dragon Capital has consistently delivered on behalf of our investors, partners and stakeholders.</p>
                <p>We are also dedicated to improving corporate governance, contributing to society, and promoting sustainable development in the countries where we invest.</p>
            </div>
            <div class="right-img">
                <img width="400" height="400" src="https://cdn.dragoncapital.com/media/2019/07/30150900/about-dragon-capital.jpg" class="attachment-large size-large" alt="" loading="lazy" srcset="https://cdn.dragoncapital.com/media/2019/07/30150900/about-dragon-capital.jpg 700w, https://cdn.dragoncapital.com/media/2019/07/30150900/about-dragon-capital-300x171.jpg 300w" sizes="(max-width: 700px) 100vw, 700px">
            </div> 
            <div class="text" >
                <span>View Media<svg role="img" xmlns="http://www.w3.org/2000/svg" width="18" height="18"><g fill="none" stroke="#fff" stroke-width="2"><path stroke-linejoin="round" d="M1 9h14"></path><path d="M9 2l7 7-7 7"></path></g></svg></span>
            </div>
        </div>
   </section>
   <div class="section-bar-content">
       <div class="menu-event">
            <div class="section-bar-left">
                <div class="feat-heading">
                    <h2>Our mission</h2>
                </div>
                <div class="image-bar-left">		
                    <figure class="image-figure">
                        <img width="600" height="450" src="https://cdn.dragoncapital.com/media/2019/06/30150907/dragon-capital-mission.jpg" class="vc_single_image-img attachment-full" alt="" loading="lazy" title="dragon-capital-mission" srcset="https://cdn.dragoncapital.com/media/2019/06/30150907/dragon-capital-mission.jpg 800w, https://cdn.dragoncapital.com/media/2019/06/30150907/dragon-capital-mission-300x169.jpg 300w, https://cdn.dragoncapital.com/media/2019/06/30150907/dragon-capital-mission-768x432.jpg 768w" sizes="(max-width: 800px) 100vw, 800px">
                    </figure>
                </div>
                <div class="wpb_text_column">
                    <div class="wpb_wrapper">
                        <p>Our mission is to be a top class intermediator of capital by providing attractive returns to investors, value to companies, and a desirable workplace for employees. To perform these with absolute professionalism and integrity, driven by a longterm commitment to the sustainable development of the environment, society and economy of Vietnam.</p>
                    </div>
                </div>
            </div>
       </div>
        <div class="setion-bar-right">
            <div class="section-bar-right">
                <div class="feat-heading">
                    <h2>Our edge</h2>
                </div>
                <div class="image-bar-right">		
                    <figure class="image-figure">
                        <img width="600" height="450" src="https://cdn.dragoncapital.com/media/2019/05/30150931/dragon-capital-edge.jpg" class="vc_single_image-img attachment-full" alt="" loading="lazy" title="dragon-capital-edge" srcset="https://cdn.dragoncapital.com/media/2019/05/30150931/dragon-capital-edge.jpg 800w, https://cdn.dragoncapital.com/media/2019/05/30150931/dragon-capital-edge-300x169.jpg 300w, https://cdn.dragoncapital.com/media/2019/05/30150931/dragon-capital-edge-768x432.jpg 768w" sizes="(max-width: 800px) 100vw, 800px">
                    </figure>
                </div>
                
                <div class="wpb_text_column-right">
                    <div class="wpb_wrapper">
                        <p>We combine unique local know-how, relationships and insights with international perspectives and best practices. Our investment approach is driven by close teamwork, rigorous research, and the latest financial technology and systems. Our over two decades of experience in Vietnam, and the skills and practices we have perfected there, give us a readymade advantage in the region.</p>
                    </div>
                </div>
            </div>           
        </div>
    </div>
    <section class="vc_section">
        <div class="vc_row wpb_row vc_row-fluid vc_custom_1557312154104 vc_row-o-equal-height vc_row-flex">
            <div class="equal wpb_column vc_column_container vc_col-sm-4">
                <div class="vc_column-inner">
                    <div class="wpb_wrapper">
                        <div class="adviser ">
                            <img width="40" height="40" src="https://cdn.dragoncapital.com/media/2019/05/30150932/icon-history.svg" class="attachment-full size-full" alt="" loading="lazy" srcset="https://cdn.dragoncapital.com/media/2019/05/30150932/icon-history.svg 500w, https://cdn.dragoncapital.com/media/2019/05/30150932/icon-history.svg 300w, https://cdn.dragoncapital.com/media/2019/05/30150932/icon-history.svg 1024w, https://cdn.dragoncapital.com/media/2019/05/30150932/icon-history.svg 40w" sizes="(max-width: 40px) 100vw, 40px">
                            <div class="wpb_text_column wpb_content_element ">
                                <div class="wpb_wrappers">
                                    <h3>Our history</h3>
                                    <p>We are a signatory to ACGA, an independent organisation dedicated to implementing effective corporate governance practices throughout Asia. ACGA believes that good governance is fundamental to the region’s economies and capital markets.</p>
                                </div>
                                <a class="btn" href="https://www.dragoncapital.com/about/history/">Learn more <svg role="img" xmlns="http://www.w3.org/2000/svg" width="18" height="18"><g fill="none" stroke="#74CBC8" stroke-width="2"><path stroke-linejoin="round" d="M1 9h14"></path><path d="M9 2l7 7-7 7"></path></g></svg></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="equal wpb_column vc_column_container vc_col-sm-4">
                <div class="vc_column-inner">
                    <div class="wpb_wrapper">
                        <div class="adviser ">
                            <img width="40" height="40" src="https://cdn.dragoncapital.com/media/2019/04/30150938/icon-our-people.svg" class="attachment-full size-full" alt="" loading="lazy" srcset="https://cdn.dragoncapital.com/media/2019/04/30150938/icon-our-people.svg 500w, https://cdn.dragoncapital.com/media/2019/04/30150938/icon-our-people.svg 300w, https://cdn.dragoncapital.com/media/2019/04/30150938/icon-our-people.svg 1024w, https://cdn.dragoncapital.com/media/2019/04/30150938/icon-our-people.svg 40w" sizes="(max-width: 40px) 100vw, 40px">
                            <div class="wpb_text_column wpb_content_element ">
                                <div class="wpb_wrappers">
                                    <h3>Our people</h3>
                                    <p>We are a signatory to PRI, the world’s leading proponent of responsible investing – and fully commit to its six principles. PRI champions the view that an economically efficient, sustainable financial system will benefit the environment and society as a whole.</p>
                                </div>
                                <a class="btn" href="https://www.dragoncapital.com/about/history/">Learn more <svg role="img" xmlns="http://www.w3.org/2000/svg" width="18" height="18"><g fill="none" stroke="#74CBC8" stroke-width="2"><path stroke-linejoin="round" d="M1 9h14"></path><path d="M9 2l7 7-7 7"></path></g></svg></a>
                            </div>   
                        </div>
                    </div>
                </div>
            </div>
            <div class="equal wpb_column vc_column_container vc_col-sm-4">
                <div class="vc_column-inner">
                    <div class="wpb_wrapper">
                        <div class="adviser ">
                            <img width="40" height="40" src="https://cdn.dragoncapital.com/media/2019/04/30150937/icon-affiliations.svg" class="attachment-full size-full" alt="" loading="lazy" srcset="https://cdn.dragoncapital.com/media/2019/04/30150937/icon-affiliations.svg 500w, https://cdn.dragoncapital.com/media/2019/04/30150937/icon-affiliations.svg 300w, https://cdn.dragoncapital.com/media/2019/04/30150937/icon-affiliations.svg 1024w, https://cdn.dragoncapital.com/media/2019/04/30150937/icon-affiliations.svg 40w" sizes="(max-width: 40px) 100vw, 40px">
                            <div class="wpb_text_column wpb_content_element ">
                                <div class="wpb_wrappers">
                                    <h3>Group & affiliates</h3>
                                    <p>We are a signatory to PRI, the world’s leading proponent of responsible investing – and fully commit to its six principles. PRI champions the view that an economically efficient, sustainable financial system will benefit the environment and society as a whole.</p>                           
                                </div>
                                <a class="btn" href="https://www.dragoncapital.com/about/history/">Learn more <svg role="img" xmlns="http://www.w3.org/2000/svg" width="18" height="18"><g fill="none" stroke="#74CBC8" stroke-width="2"><path stroke-linejoin="round" d="M1 9h14"></path><path d="M9 2l7 7-7 7"></path></g></svg></a>
                            </div>   
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-buttom" style="margin-top: 30px;">
        <div class="warp">
            <nav class="footnav" >
                <ul id="menu-footer-menu"  class="menu-1">
                    <li ><a href="home" aria-current="page">Home</a></li>
                    <li ><a href="about">About</a></li>
                    <li ><a href="OUR_PRODUCTS">Our Products</a></li>
                    <li ><a href="NEWS-EVENTS">News &amp; Events</a></li>
                    <li ><a href="Contact">Contact</a></li>
                </ul>
            </nav>
            <div class="footnav">
                <ul id="menu-legal" class="menu-1">
                    <li ><a href="">Privacy Policy</a></li>
                    <li ><a href="">Cookie policy</a></li>
                    <li ><a href="Disclaimer">Disclaimer</a></li>
                    <li ><a href="Accessibility">Accessibility</a></li>
                </ul>
            </div>
            <div class="legal">			                 
                <div class="legal-logos">                 
                    <img width="346" height="48" src="https://cdn.dragoncapital.com/media/2019/04/30153017/dragon-capital.svg" class="custom-logo" alt="Dragon Capital Group">
                </div>   
                <p class="copy">
                    © 2022 Dragon Capital Group.  All rights reserved. Made by
                    <a class="ir" href="https://www.brighterir.com" style="color:aliceblue;"> BRIGHTER<span class="bir">*</span><strong>IR</strong></a>
                </p>               
            </div>
        </div>
    </section>
</body>
</html>