<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accessibility</title>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="/styles/accessibility.css">
    <script type="text/javascript" src="/js/home.js>"></script>



<body>
    <header class="header">
        <div class="wrap" style="display: flex;justify-content: space-around;">
            <h1 id="branding">
                <a href="home" class="custom-logo-link" rel="home" aria-current="page"><img width="346" height="48" src="https://cdn.dragoncapital.com/media/2019/04/30153017/dragon-capital.svg" class="custom-logo" alt="Dragon Capital Group"></a>
            </h1> 
        </div>
        <div class="menu">
                <ul>
                    <li><a href="about">ABOUT</a>
                        <ul>
                            <li><a href="Board_Management" >Board &amp; Management</a></li>
                            <li><a href="VietNam" >VietNam</a></li>
                            <li><a href="Affiliations" >Affiliations</a></li>
                            <li><a href="History" >History</a></li>
                            <li><a href="Responsible_Investment" >Responsible Investment</a></li>
                            <li><a href="Careers" >Careers</a></li>
                        </ul>
                    </li>
                    <li><a href="OUR_PRODUCTS">OUR PRODUTOR</a>
                        <ul>
                            <li><a href="Vietnam_Enterprise_Investments_Limited" >Vietnam Enterprise Investments Limited</a></li>
                            <li><a href="" >Vietnam Equity (UCITS) Fund</a></li>
                            <li><a href="#" >Vietnam Debt Fund SPC – B Share</a></li>
                            <li><a href="Segregated_Managed_Accounts" >Segregated Managed Accounts</a></li>
                        </ul>
                    </li>
                    <li><a href="NEWS-EVENTS">NEWS & EVENTS</a></li>
                    <li><a href="Contact">CONTACT</a></li>
                    
                </ul>
            </div>         
    </header>
    <main>
        <div class="page-banner">
            <div class="warp">
                <div class="banner-heah" style="margin-left: 40px; width: 60%;">
                    <h3>
                        <p style="font-size: 3.5rem; color: cadetblue; margin-top: 0px;"> Accessibility</p> 	
                    </h3>
                    <p style="margin: 0 3rem 3rem 0;font-size: 1.5rem;">Dragon Capital is committed to ensuring that its website is accessible to everyone, including people with disabilities. Accessibility guidelines have been an integral part of the design and development process from the outset. We have taken all steps possible to make sure this web site is accessible to all.</p>                 
                    
                </div>
                <div class="banner-widgets">
                    <div class="banner-widget">
                        <h2>If you have any questions or suggestions regarding the accessibility of this site, please contact us, since we are continually striving to improve the experience for all visitors.</h2>							                               
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div class="content-banner">
        <div class="div-menu" style="margin-left: 0px;">
            <div class="menu-left" >
                <ul>
                    <li style="border-top: 2px solid darkcyan;"><a href="https://www.dragoncapital.com/privacy-policy/">Privacy Policy</a></li>
                    <li><a href="https://www.dragoncapital.com/cookie-policy/">Cookie policy</a></li>
                    <li><a href="https://www.dragoncapital.com/disclaimer/" aria-current="page">Disclaimer</a></li>
                    <li style="border-bottom: 2px solid darkcyan;"><a href="https://www.dragoncapital.com/accessibility/">Accessibility</a></li>
                    
                </ul>
            </div>
            <div class="menu-text">
                <div class="text-content-warpper" >
                    <p style="color: cadetblue;">This site aims to comply with Priority 1 and Priority 2 of the W3C accessibility guidelines. We operate a system of continuous improvement to ensure the guidelines are met.</p>
                    <h2>Text Size</h2>
                    <p>If you find the text on this site is too small, you can change it easily in your browser settings. To do this you should simply adjust your browser’s settings by going you can use keyboard shortcuts to adjust the zoom, Press Ctrl and + (plus) to zoom in, press Ctrl and – (minus) to zoom out and Press Ctrl and 0 (zero) to return to the default size. You can also do the same via the menu bar:</p>
                    <ul>
                        <li style=" margin-left: 50px; font-size: 1.1rem;">
                            <ul style="list-style-type:circle;">                              
                                <li>If you use Mozilla Firefox, scroll the net bar to increase/decrease the text size.</li>
                                <li>If you use Microsoft Internet Explorer, go to the View menu, select Text Size and then either Larger or Largest.</li>
                                <li>If you use Microsoft Edge, click on the 3 dots in the upper-right corner of the browser window. In the&nbsp;Zoom&nbsp;section, select the&nbsp;<b>+&nbsp;</b>(plus) button to increase the size of text and images and select the&nbsp;<b>–&nbsp;</b>(minus) button to decrease the size.</li>
                                <li>If you use Microsoft Edge, click on the 3 dots in the upper-right corner of the browser window. In the&nbsp;Zoom&nbsp;section, select the&nbsp;<b>+&nbsp;</b>(plus) button to increase the size of text and images and select the&nbsp;<b>–&nbsp;</b>(minus) button to decrease the size.</li>
                                <li>If you use Safari, Click on View in the Safari menu bar located at the top of the screen. When the drop-down menu appears, click on the option labelled Zoom In to make all content on the current web page appear bigger. You can also use the keyboard shortcut Command +. To increase the size again, repeat this step.</li>
                            </ul>
                        </li>
                    </ul>
                    <h2 >Documents</h2>
                    <p>Some documents on this website are in PDF (Portable Document Format). To read them you will require Adobe Acrobat viewer which can be downloaded from http://www.adobe.com/. If you need further information about Adobe accessibility, visit http://www.adobe.com/accessibility/</p>
                </div>
            </div>
        </div>
    </div>
    <section class="section-buttom">
        <div class="warp">
            <nav class="footnav" >
                <ul id="menu-footer-menu"  class="menu-1">
                    <li ><a href="home" aria-current="page">Home</a></li>
                    <li ><a href="about">About</a></li>
                    <li ><a href="OUR_PRODUCTS">Our Products</a></li>
                    <li ><a href="NEWS-EVENTS">News &amp; Events</a></li>
                    <li ><a href="Contact">Contact</a></li>
                </ul>
            </nav>
            <div class="footnav">
                <ul id="menu-legal" class="menu-1">
                    <li ><a href="">Privacy Policy</a></li>
                    <li ><a href="">Cookie policy</a></li>
                    <li ><a href="Disclaimer">Disclaimer</a></li>
                    <li ><a href="Accessibility">Accessibility</a></li>
                </ul>
            </div>
            <div class="legal">			                 
                <div class="legal-logos">                 
                    <img width="346" height="48" src="https://cdn.dragoncapital.com/media/2019/04/30153017/dragon-capital.svg" class="custom-logo" alt="Dragon Capital Group">
                </div>   
                <p class="copy">
                    © 2022 Dragon Capital Group.  All rights reserved. Made by
                    <a class="ir" href="https://www.brighterir.com"> BRIGHTER<span class="bir">*</span><strong>IR</strong></a>
                </p>               
            </div>
        </div>
    </section>
</body>
</html>