<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Affiliations</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="/styles/affiliations.css">
    <script type="text/javascript" src="/js/home.js>"></script>

</head>
<body>
    <header class="header">
        <div class="wrap" style="display: flex;justify-content: space-around;">
            <h1 id="branding">
                <a href="home" class="custom-logo-link" rel="home" aria-current="page"><img width="346" height="48" src="https://cdn.dragoncapital.com/media/2019/04/30153017/dragon-capital.svg" class="custom-logo" alt="Dragon Capital Group"></a>
            </h1> 
        </div>
        <div class="menu">
            <ul>
                <li><a href="about">ABOUT</a>
                    <ul>
                        <li><a href="Board_Management" >Board &amp; Management</a></li>
                        <li><a href="VietNam" >VietNam</a></li>
                        <li><a href="Affiliations" >Affiliations</a></li>
                        <li><a href="History" >History</a></li>
                        <li><a href="Responsible_Investment" >Responsible Investment</a></li>
                        <li><a href="Careers" >Careers</a></li>
                    </ul>
                </li>
                <li><a href="OUR_PRODUCTS">OUR PRODUTOR</a>
                    <ul>
                        <li><a href="Vietnam_Enterprise_Investments_Limited" >Vietnam Enterprise Investments Limited</a></li>
                        <li><a href="" >Vietnam Equity (UCITS) Fund</a></li>
                        <li><a href="#" >Vietnam Debt Fund SPC – B Share</a></li>
                        <li><a href="Segregated_Managed_Accounts" >Segregated Managed Accounts</a></li>
                    </ul>
                </li>
                <li><a href="NEWS-EVENTS">NEWS & EVENTS</a></li>
                <li><a href="Contact">CONTACT</a></li>
                
            </ul>
        </div>         
</header>
    <main>
        <div class="page-banner">
            <div class="warp">
                <div class="banner-heah" style="margin-left: 40px; width: 50%;">
                    <h3>
                        <span style="font-size: 2rem;color: chocolate;">AFFILIATES THAT STRENGTHEN OUR GROUP</span> 
                        <p style="font-size: 3rem; padding-top: 20px; color: cadetblue;">AFFILIATES </p> 	
                    </h3>
                    <p style="margin: 0 3rem 3rem 0;font-size: 18px;">Dragon Capital and its affiliated companies form a comprehensive investment group with unique depth of experience and capabilities. Dragon Capital is the group’s main investment holding company and cooperates in domestic businesses that actively manage and advise on financial services</p>                 
                    
                </div>
                <div class="banner-widgets">
                    <div class="banner-widget" >
                        <h2>Dragon Capital strives to connect international capital with Vietnamese businesses and entrepreneurs through a unique network of businesses which have grown in parallel with the domestic market.</h2>							                               
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div class="content-banner">
        <div class="div-menu">
            <div class="menu-left">
                <ul>
                    <li style="border-top:2px solid #007d68;"><a href="Board_Management">Board &amp; Management</a></li>
                    <li ><a href="VietNam">Vietnam</a></li>
                    <li ><a href="Affiliations">Affiliations</a></li>
                    <li ><a href="History">History</a></li>
                    <li ><a href="Responsible_Investment">Responsible Investment</a></li>
                    <li style="border-bottom:2px solid #007d68;"><a href="Careers">Careers</a></li> 
               </ul>
            </div>
            <div class="menu-text">
                <div class="text-content">
                    <h1>A Comprehensive Investment Group</h1>
                </div>
                <div class="lon-right" style=" float: left;">
                    <div class="text-warp">
                        <h3>Ho Chi Minh City Securities Corporation (HSC)</h3>
                    </div>              
                    <div class="content-text-left">
                        <div class="text-content-warpper" >
                            <p>HSC was formed in 2003 through a partnership between Ho Chi Minh City Investment Fund for Urban Development, a government-owned body, and Dragon Capital. HSC’s clients include institutional and retail investors, investment funds, and state-owned companies.</p>
                            <p>With a strong capital base and a network of nine branches located in Hanoi and Ho Chi Minh City, HSC is one of Vietnam’s top investment companies in terms of market share. In 2009, the company listed on the Ho Chi Minh Stock Exchange.</p>
                            <a class="btn " href="https://www.hsc.com.vn/en">Visit HSC website<svg role="img" xmlns="http://www.w3.org/2000/svg" width="18" height="18"><g fill="none" stroke="#74CBC8" stroke-width="2"><path stroke-linejoin="round" d="M1 9h14"></path><path d="M9 2l7 7-7 7"></path></g></svg></a>
                        </div>
                        
                        <div class="image-content-warpper">
                            <div class="wpb_wrapper">
                                <img width="230" height="145" src="https://cdn.dragoncapital.com/media/2019/05/30150931/logo-hsc.png" class="vc_single_image-img attachment-full" alt="" loading="lazy" title="logo-hsc" srcset="https://cdn.dragoncapital.com/media/2019/05/30150931/logo-hsc.png 380w, https://cdn.dragoncapital.com/media/2019/05/30150931/logo-hsc-300x114.png 300w" sizes="(max-width: 380px) 100vw, 380px">
                            </div>
                        </div>
                    </div>                   
                </div>
                <div class="text-warp">
                    <h3>Ruby Hill Microfinance Company Limited (RHM)</h3>
                </div>              
                <div class="content-text-left">
                    <div class="text-content-warpper" >
                        <p>Loi Hein Group (LHG) a leading Consumer Beverage Group in Myanmar and Dragon Capital Group (DCG) the largest Asset Management Company in Vietnam entered into a Joint Venture Agreement to form a new JV company, Ruby Hill Microfinance Co., Ltd. (RHM), to engage in microfinance business in Myanmar under license granted by the Ministry of Planning & Finance (MOPF) in September 2018 and activated in December 2018.</p>
                        <a class="btn " href="https://www.hsc.com.vn/en">Visit RHM website<svg role="img" xmlns="http://www.w3.org/2000/svg" width="18" height="18"><g fill="none" stroke="#74CBC8" stroke-width="2"><path stroke-linejoin="round" d="M1 9h14"></path><path d="M9 2l7 7-7 7"></path></g></svg></a>
                    </div>
                    
                    <div class="image-content-warpper">
                        <div class="wpb_wrapper">
                            <img width="230" height="200px" src="https://cdn.dragoncapital.com/media/2019/11/30150823/RHM_whitelogo.jpg" class="vc_single_image-img attachment-full" alt="" loading="lazy" title="RHM_whitelogo" srcset="https://cdn.dragoncapital.com/media/2019/11/30150823/RHM_whitelogo.jpg 438w, https://cdn.dragoncapital.com/media/2019/11/30150823/RHM_whitelogo-300x195.jpg 300w" sizes="(max-width: 438px) 100vw, 438px">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="section-buttom">
        <div class="warp">
            <nav class="footnav" >
                <ul id="menu-footer-menu"  class="menu-1">
                    <li ><a href="home" aria-current="page">Home</a></li>
                    <li ><a href="about">About</a></li>
                    <li ><a href="OUR_PRODUCTS">Our Products</a></li>
                    <li ><a href="NEWS-EVENTS">News &amp; Events</a></li>
                    <li ><a href="Contac">Contact</a></li>
                </ul>
            </nav>
            <div class="footnav">
                <ul id="menu-legal" class="menu-1">
                    <li ><a href="">Privacy Policy</a></li>
                    <li ><a href="">Cookie policy</a></li>
                    <li ><a href="Disclaimer">Disclaimer</a></li>
                    <li ><a href="Accessibility">Accessibility</a></li>
                </ul>
            </div>
            <div class="legal">			                 
                <div class="legal-logos">                 
                    <img width="346" height="48" src="https://cdn.dragoncapital.com/media/2019/04/30153017/dragon-capital.svg" class="custom-logo" alt="Dragon Capital Group">
                </div>   
                <p class="copy">
                    © 2022 Dragon Capital Group.  All rights reserved. Made by
                    <a class="ir" href="https://www.brighterir.com" style="color:aliceblue;"> BRIGHTER<span class="bir">*</span><strong>IR</strong></a>
                </p>               
            </div>
        </div>
    </section>
</body>
</html>