<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Board_Management</title>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="/styles/board_management.css">
    <script type="text/javascript" src="/js/home.js>"></script>
</head>
<body>
    <header class="header">
        <div class="wrap" style="display: flex;justify-content: space-around;">
            <div class="page-wrap">
                <h1 id="branding">
                    <a href="" class="custom-logo-link" rel="home" aria-current="page">
                        <img width="346" height="48" src="https://cdn.dragoncapital.com/media/2019/04/30153017/dragon-capital.svg" class="custom-logo" alt="Dragon Capital Group">
                    </a>
                </h1>
            </div>
            <input class="menu-btn" type="checkbox" id="menu-btn"/>   
            <label class="menu-icon" for="menu-btn">
                <span class="nav-icon"></span>
            </label>              
            <ul class="menu">
                <li><a href="about">ABOUT</a>
                    <ul>
                        <li><a href="Board_Management" >Board &amp; Management</a></li>
                        <li><a href="VietNam.html" >VietNam</a></li>
                        <li><a href="Affiliations" >Affiliations</a></li>
                        <li><a href="History" >History</a></li>
                        <li><a href="Responsible_Investment" >Responsible Investment</a></li>
                        <li><a href="Careers" >Careers</a></li>
                    </ul>
                </li>
                <li><a href="OUR_PRODUCTS">OUR PRODUTOR</a>
                    <ul>
                        <li><a href="Vietnam_Enterprise_Investments_Limited.html">Vietnam Enterprise Investments Limited</a></li>
                        <li><a href="" >Vietnam Equity (UCITS) Fund</a></li>
                        <li><a href="#" >Vietnam Debt Fund SPC – B Share</a></li>
                        <li><a href="Segregated_Managed_Accounts.html" >Segregated Managed Accounts</a></li>
                    </ul>
                </li>
                <li><a href="NEWS -EVENTS">NEWS & EVENTS</a></li>
                <li><a href="Contact">CONTACT</a></li>
            </ul>
        </div>
    </header>
    <main>
        <div class="page-banner">
            <div class="warp">
                <div class="banner-heah-warp">
                    <h3>
                        <span>OUR PEOPLE</span> 
                        <p>Board & Management </p> 	
                    </h3>
                    <p >The majority of our staff are Vietnamese who bring invaluable local knowledge. A company culture that rewards initiative and fosters ownership means we retain our staff for longer, and attract the best and brightest.</p>     
                    <p >We have our own portfolio managers, economists, analysts, originators, traders, lawyers and client service staff. This comprehensive range of inhouse skill sets allows us to cover all significant asset classes including public and private equity, fixed income, property, and sustainable development.</p>            
                </div>
                <div class="banner-widgets">
                    <div class="banner-widget">
                        <h2>“Team spirit drives our success &amp; underpins everything we do”</h2>
                        <p>Dragon Capital’s close-knit team comprises many nationalities, skill sets and areas of expertise. </p>							                               
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div class="content-banner">
        <div class="div-menu">
            <div class="menu-left">
                <ul>
                    <li style="border-top:2px solid #007d68;"><a href="Board_Management">Board &amp; Management</a></li>
                    <li ><a href="VietNam">Vietnam</a></li>
                    <li ><a href="Affiliations">Affiliations</a></li>
                    <li ><a href="History">History</a></li>
                    <li ><a href="Responsible_Investment">Responsible Investment</a></li>
                    <li style="border-bottom:2px solid #007d68;"><a href="Careers">Careers</a></li> 
               </ul>
            </div>  
            <div class="menu-text">
                <div class="image-text">
                    <div class="text-content">
                        <p>Vietnamese and foreign professionals cover all significant asset classes (public and private equity, fixed income, property and clean development); with extensive skill sets (portfolio managers, economists, analysts, originators, traders, lawyers and client managers).</p>
                    </div>
                        <img width="800" height="300px" src="https://cdn.dragoncapital.com/media/2020/06/25110535/DragonCapital_094.jpg" class="vc_single_image-img attachment-full" alt="" loading="lazy" title="DragonCapital_094" srcset="https://cdn.dragoncapital.com/media/2020/06/25110535/DragonCapital_094.jpg 2048w, https://cdn.dragoncapital.com/media/2020/06/25110535/DragonCapital_094-300x200.jpg 300w, https://cdn.dragoncapital.com/media/2020/06/25110535/DragonCapital_094-1024x684.jpg 1024w, https://cdn.dragoncapital.com/media/2020/06/25110535/DragonCapital_094-768x513.jpg 768w, https://cdn.dragoncapital.com/media/2020/06/25110535/DragonCapital_094-1536x1025.jpg 1536w" sizes="(max-width: 2048px) 100vw, 2048px">
                </div>
                <div class="image-text">
                    <div class="Relationship">
                        <h2>Relationship</h2>
                        <p>At Dragon Capital, everything we do is done through teamwork. Every team member is encouraged to contribute ideas, and there are no hierarchical boundaries or ceilings. This open and sharing culture sets us apart in the investment world, and enhances our business edge.</p>
                    </div>
                    <div class="Relationship">
                        <h2>Ownership</h2>
                        <p>By encouraging a sense of ownership, we empower staff and create greater job satisfaction. A vibrant teams spirit means we attract exceptional people who stay with us for the long term. In an industry with high staff turnover, Dragon Capital has retained all its leading people.</p>
                    </div>
                </div> 
            </div>
        </div>
    </div>
    <section class="section-bottom-class">
        <div class="heading-buttom">
            <div class="buttom-1">
                <span class="vc_tta-title-text">BOARD MEMBERS</span>
            </div>
            <div class="buttom-2">
                <span class="vc_tta-title-text" >SENIOR MANAGEMENT</span>
            </div>
        </div>  
        <div class="content-buttom-div-left">
            <div class="vc_tta-panel-body">
                <div class="team-members">
                    <div class="team-member viewed">
                        <div class="team-profile">
                            <img width="320" height="350" src="https://cdn.dragoncapital.com/media/2019/04/30150937/dominic-scriven.png" class="attachment-full size-full" alt="" loading="lazy" srcset="https://cdn.dragoncapital.com/media/2019/04/30150937/dominic-scriven.png 320w, https://cdn.dragoncapital.com/media/2019/04/30150937/dominic-scriven-274x300.png 274w" sizes="(max-width: 320px) 100vw, 320px">	
                        </div>
                        <div class="team__info">
                            <div class="team__head">
                                <h3>
                                    <span class="pos">Co-Founder and Executive Chairman</span>
                                    <span class="name">Dominic Scriven, OBE</span>
                                </h3>
                            </div>
                            
                            <div class="team__bio">
                                <p>Dominic graduated from Exeter University in 1985 with a degree in Law and Sociology. Shortly thereafter, he went to Hong Kong, where he worked in fund management and broking with M&amp;G, Sun Hung Kai, Citicorp and Peregrine. In 1991 he moved to Hanoi and studied Vietnamese for two years before co-founding Dragon Capital in 1994. Dominic was awarded an OBE in 2006 for his contribution to relations between the UK and Vietnam. For his work in developing the country’s capital markets, the HCMC People’s Committee gave him a Recognition Award in 2008, and the President of Vietnam bestowed a Labor Order, Third Class on him in 2014. His interests and passions range from Vietnamese art – to biodiversity and eliminating the illegal trade in wildlife.</p>
                        </div>
                    </div>
                </div>
                <div class="team-members" style="padding-top: 40px; float: left;">
                    <div class="team-member viewed">
                        <div class="team-profile">
                            <img width="320" height="350" src="https://cdn.dragoncapital.com/media/2019/04/30150936/Le-Anh-Minh.png" class="attachment-full size-full" alt="" loading="lazy" srcset="https://cdn.dragoncapital.com/media/2019/04/30150936/Le-Anh-Minh.png 320w, https://cdn.dragoncapital.com/media/2019/04/30150936/Le-Anh-Minh-274x300.png 274w" sizes="(max-width: 320px) 100vw, 320px">
                        </div>
                        <div class="team__info">
                            <div class="team__head">
                                <h3>
                                    <span class="pos">EXECUTIVE DIRECTOR AND CEO EMERITUS</span>
                                    <span class="name">Le Anh Minh</span>
                                </h3>
                            </div>
                            
                            <div class="team__bio">
                                <p>Minh, a Fulbright Scholar, graduated from Vietnam’s Banking University in 1991. He then joined Peregrine, where he completed Vietnam’s first M&A deal with the take-over of Dai Nam Bank. He helped restructure the bank and ran its business development and credit activities. In 1996-98, Minh attended Wharton Business School, earning an MBA and then returning to Vietnam as Coca-Cola’s regional Financial Services Manager. Minh joined Dragon in 2002 and served as CFO until 2015, when he became CEO. He stepped back from this position in Dec 2017 to pursue a doctoral degree in business. Minh sits on the Board of Ho Chi Minh Securities.</p>
                        </div>
                    </div>
                </div>
                <div class="team-members" style="padding-top: 40px; float: left;">
                    <div class="team-member viewed">
                
                        <div class="team-profile">
                            <img width="320" height="350" src="https://cdn.dragoncapital.com/media/2019/04/30150937/Alex-Pasikowski.png" class="attachment-full size-full" alt="" loading="lazy" srcset="https://cdn.dragoncapital.com/media/2019/04/30150937/Alex-Pasikowski.png 320w, https://cdn.dragoncapital.com/media/2019/04/30150937/Alex-Pasikowski-274x300.png 274w" sizes="(max-width: 320px) 100vw, 320px">
                        </div>
                        <div class="team__info">
                            <div class="team__head">
                                <h3>
                                    <span class="pos">EXECUTIVE DIRECTOR AND DEPUTY CEO</span>
                                    <span class="name">Alex Pasikowski</span>
                                </h3>
                            </div>
                            
                            <div class="team__bio">
                                <p>Alex joined Morgan Stanley as an analyst in 1984, working first at its London and New York offices, then later in Japan and Hong Kong, where he was responsible for proprietary trading books in Australia, Pacific and South East Asia. In 1991, he joined Swiss Bank Corp Hong Kong and helped establish its Thailand operation. In 1993, he became senior vice president of Lehman Brothers Hong Kong, responsible for all Asian cash trading ex-Japan. In 1996, Alex joined Deutsche Securities Hong Kong, moving to its Bangkok office to oversee equity capital markets. He joined Dragon Capital in 2001.</p>
                        </div>
                    </div>
                </div>
                <div class="team-members" style="padding-top: 40px; float: left;">
                    <div class="team-member viewed">
                        <div class="team-profile">
                            <img width="320" height="350" src="https://cdn.dragoncapital.com/media/2019/04/30150911/tran-thanh-tan.png" class="attachment-full size-full" alt="" loading="lazy" srcset="https://cdn.dragoncapital.com/media/2019/04/30150911/tran-thanh-tan.png 320w, https://cdn.dragoncapital.com/media/2019/04/30150911/tran-thanh-tan-274x300.png 274w" sizes="(max-width: 320px) 100vw, 320px">
                        </div>
                        <div class="team__info">
                            <div class="team__head">
                                <h3>
                                    <span class="pos">NON-EXECUTIVE DIRECTOR</span>
                                    <span class="name">Tran Thanh Tan</span>
                                </h3>
                            </div>
                            <div class="team__bio">
                                <p>Tan was granted a Master’s Degree in Management from the Université Libre de Bruxelles (“ULB”, Belgium). He has more than 15 years’ experience in building and expanding Vietnam’s securities markets. He started at Peregrine Capital Vietnam, then became a co-founder of Dragon Capital Group in 1994. He has provided consultation on the equitization process for over 20 state-owned enterprises, many of which are now listed on Vietnam’s stock exchanges. In 2003, as a representative of Dragon Capital, he established Dragon Capital Vietfund Management (“DCVFM”, formerly known as VietFund Management) and has been the CEO ever since. Since the commencement of Dragon Capital’s engagement in DCVFM, he has overseen the development of DCVFM as the most successful fund management company in Vietnam. At present, he is a member of the DCVFM Board of Directors and Chairman of the Vietnamese Fund Management Club.</p>
                        </div>
                    </div>
                </div>
                <div class="team-members" style="padding-top: 40px; float: left;">
                    <div class="team-member viewed">
                        <div class="team-profile">
                            <img width="320" height="350" src="https://cdn.dragoncapital.com/media/2019/04/30150937/Alex-Pasikowski.png" class="attachment-full size-full" alt="" loading="lazy" srcset="https://cdn.dragoncapital.com/media/2019/04/30150937/Alex-Pasikowski.png 320w, https://cdn.dragoncapital.com/media/2019/04/30150937/Alex-Pasikowski-274x300.png 274w" sizes="(max-width: 320px) 100vw, 320px">
                        </div>
                        <div class="team__info">
                            <div class="team__head">
                                <h3>
                                    <span class="pos">NON-EXECUTIVE DIRECTOR</span>
                                    <span class="name">Raphael Gaglio</span>
                                </h3>
                            </div>                          
                            <div class="team__bio">
                                <p>Raphael is the co-founder and Managing Partner of Caldera Pacific, an independent private equity firm based in Hong Kong and Korea. Prior to Caldera Pacific, Raphael was a Managing Partner at Silverhorn Group which he co-founded in 2010. Before starting up Silverhorn, Raphael was responsible for business development at Apollo Global Management Asia, formerly Holdfast Capital, a Hong Kong based private equity firm which was sold to Apollo Global Management at the beginning of 2010. Prior to joining Holdfast Capital in February 2009, Raphael was a Vice President in the Equity Capital Markets group in Credit Suisse’s Investment Banking Division in Hong Kong, where he was involved in the origination and execution of equity and equity-linked transactions for issuers in non-Japan Asia. Raphael started his career with Credit Suisse in 1996 where he held positions in various lines of business including equity derivatives, investment consulting and wealth management.</p>
                        </div>
                    </div>
                </div>
                <div class="team-members" style="padding-top: 40px; float: left;">
                    <div class="team-member viewed">
                        <div class="team-profile">
                            <img width="320" height="350" src="https://cdn.dragoncapital.com/media/2019/04/30150858/NICK-ROBERTS.jpg"  sizes="(max-width: 320px) 100vw, 320px">
                        </div>
                        <div class="team__info">
                            <div class="team__head">
                                <h3>
                                    <span class="pos">INDEPENDENT NON-EXECUTIVE DIRECTOR</span>
                                    <span class="name">Nicholas Roberts</span>
                                </h3>
                            </div>                          
                            <div class="team__bio">
                                <p>With over 25 years of investment experience, Nick was appointed an INED of DCG in February 2016. He started his fund management career managing UK equity portfolios within the institutional team at Mercury Asset Management (MAM), becoming a Managing Director of Merrill Lynch Investment Managers (MLIM) following the acquisition of MAM. Nick later joined the Global Thematic Equity team at Sarasin & Partners in 2008, becoming a partner of the firm and heading its international institutional business. Now at Troy Asset Management, Nick is responsible for developing Troy’s institutional business both in the UK and internationally. Nick has a BA from Exeter University and gained his Masters in Environmental Technology at Imperial College, London. Nick holds the ASIP qualification and is an Associate Member of the CFA Society of the UK.</p>
                        </div>
                    </div>
                </div>
                <div class="team-members" style="padding-top: 40px; float: left;">
                    <div class="team-member viewed">
                        <div class="team-profile">
                            <img width="320" height="350" src="https://cdn.dragoncapital.com/media/2019/04/30150857/bumko.png" class="attachment-full size-full" alt="" loading="lazy" srcset="https://cdn.dragoncapital.com/media/2019/04/30150857/bumko.png 320w, https://cdn.dragoncapital.com/media/2019/04/30150857/bumko-274x300.png 274w" sizes="(max-width: 320px) 100vw, 320px">
                        </div>
                        <div class="team__info">
                            <div class="team__head">
                                <h3>
                                    <span class="pos">NON-EXECUTIVE DIRECTOR</span>
                                    <span class="name"> Bum Koo Kim</span>
                                </h3>
                            </div>                          
                            <div class="team__bio">
                                <p>Bumkoo Kim is a head of Strategic Planning & Global business strategy for Samsung Securities, a leading securities company in Korea, since 2018. Prior to this, he was a head of Client Strategy & Marketing Unit since 2013. Since he joined Samsung Securities in 2002, he served various positions including strategic planning, financial control, marketing, new business development, etc. Prior to joining Samsung Securities, he spent 6 years as a research fellow for Hyundai Research Institute where he started his career. He received a M.A in Economics from Seoul National University in 1996 and a B.A in Economics from Seoul National University in 1991.</p>
                        </div>
                    </div>
                </div>
                <div class="team-members" style="padding-top: 40px; float: left;">
                    <div class="team-member viewed">
                        <div class="team-profile">
                            <img width="320" height="350" src="https://cdn.dragoncapital.com/media/2019/04/30150906/farida-khambata.png" class="attachment-full size-full" alt="" loading="lazy" srcset="https://cdn.dragoncapital.com/media/2019/04/30150906/farida-khambata.png 320w, https://cdn.dragoncapital.com/media/2019/04/30150906/farida-khambata-274x300.png 274w" sizes="(max-width: 320px) 100vw, 320px">
                        </div>
                        <div class="team__info">
                            <div class="team__head">
                                <h3>
                                    <span class="pos">INDEPENDENT NON-EXECUTIVE DIRECTOR</span>
                                    <span class="name"> Farida Khambata</span>
                                </h3>
                            </div>                          
                            <div class="team__bio">
                                <p>Farida is Co-Founder, Partner and Global Strategist at Cartica Management, LLC. Prior to founding Cartica Management, she served as the Vice President of Asia, Latin America and the Caribbean, and the Middle East & North Africa at the IFC, where she headed operations in East Asia and the Pacific, South Asia, Latin America and the Caribbean, and the Middle East and North Africa. Farida was nominated to the DCG Board by the IFC, and remained on the Board until 16 October 2015, when she resigned following the IFC’s sale of its shares in the company. She also served on the VEIL Board between 18 April 2012 and 26 January 2016, resigning following the merger of VEIL with VGF. Farida was re-elected to DCG’s Board on 4 Febuary 2016.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--  -->  
    <!--  -->
    <section class="section-buttom" style="margin-top: 30px;">
        <div class="warp">
            <nav class="footnav" >
                <ul id="menu-footer-menu"  class="menu-1">
                    <li ><a href="home" aria-current="page">Home</a></li>
                    <li ><a href="about">About</a></li>
                    <li ><a href="OUR_PRODUCTS">Our Products</a></li>
                    <li ><a href="NEWS-EVENTS">News &amp; Events</a></li>
                    <li ><a href="Contact">Contact</a></li>
                </ul>
            </nav>
            <div class="footnav">
                <ul id="menu-legal" class="menu-1">
                    <li ><a href="">Privacy Policy</a></li>
                    <li ><a href="">Cookie policy</a></li>
                    <li ><a href="Disclaimer">Disclaimer</a></li>
                    <li ><a href="Accessibility">Accessibility</a></li>
                </ul>
            </div>
            <div class="legal">			                 
                <div class="legal-logos">                 
                    <img width="346" height="48" src="https://cdn.dragoncapital.com/media/2019/04/30153017/dragon-capital.svg" class="custom-logo" alt="Dragon Capital Group">
                </div>   
                <p class="copy">
                    © 2022 Dragon Capital Group.  All rights reserved. Made by
                    <a class="ir" href="https://www.brighterir.com" style="color:aliceblue;"> BRIGHTER<span class="bir">*</span><strong>IR</strong></a>
                </p>               
            </div>
        </div>
    </section>
</body>
</html>