<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Careers</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="/styles/careers.css">
    <script type="text/javascript" src="/js/home.js>"></script>


</head>
<body>
    <header class="header">
        <div class="wrap" style="display: flex;justify-content: space-around;">
            <h1 id="branding">
                <a href="home" class="custom-logo-link" rel="home" aria-current="page"><img width="346" height="48" src="https://cdn.dragoncapital.com/media/2019/04/30153017/dragon-capital.svg" class="custom-logo" alt="Dragon Capital Group"></a>
            </h1> 
        </div>
        <div class="menu">
            <ul>
                <li><a href="about">ABOUT</a>
                    <ul>
                        <li><a href="Board_Management" >Board &amp; Management</a></li>
                        <li><a href="VietNam" >VietNam</a></li>
                        <li><a href="Affiliations" >Affiliations</a></li>
                        <li><a href="History" >History</a></li>
                        <li><a href="Responsible_Investment" >Responsible Investment</a></li>
                        <li><a href="Careers" >Careers</a></li>
                    </ul>
                </li>
                <li><a href="OUR_PRODUCTS">OUR PRODUTOR</a>
                    <ul>
                        <li><a href="Vietnam_Enterprise_Investments_Limited" >Vietnam Enterprise Investments Limited</a></li>
                        <li><a href="" >Vietnam Equity (UCITS) Fund</a></li>
                        <li><a href="#" >Vietnam Debt Fund SPC – B Share</a></li>
                        <li><a href="Segregated_Managed_Accounts" >Segregated Managed Accounts</a></li>
                    </ul>
                </li>
                <li><a href="NEWS-EVENTS">NEWS & EVENTS</a></li>
                <li><a href="Contact">CONTACT</a></li>
                
            </ul>
        </div>         
    </header>
    <!--  -->
    <main>
        <div class="page-banner">
            <div class="warp">
                <div class="banner-heah" style="margin-left: 40px; width: 50%;">
                    <h3>
                        <span >CURRENT VACANCIES</span> 
                        <p> Dragon Capital Careers</p> 	
                    </h3>
                </div>
                <div class="banner-widgets">
                    <div class="banner-widget">
                        <h2 >Our mission is to be a top class intermediator of capital between the rest of the world and Vietnam by providing attractive returns to investors, value to companies, and a desirable workplace.</h2>							                               
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!--  -->
    <div class="content-banner">
        <div class="div-menu">
            <div class="menu-left">
                <ul>
                    <li style="border-top:2px solid #007d68;"><a href="Board_Management">Board &amp; Management</a></li>
                    <li ><a href="VietNam">Vietnam</a></li>
                    <li ><a href="Affiliations">Affiliations</a></li>
                    <li ><a href="History">History</a></li>
                    <li ><a href="Responsible_Investment">Responsible Investment</a></li>
                    <li style="border-bottom:2px solid #007d68;"><a href="Careers">Careers</a></li> 
               </ul>
            </div>  
        </div>
        <div class="wpb_column ">
            <div class="vc_column-inner">
                <div class="wpb_wrapper" style="margin-right: 8px; float: left;">
                    <div class="jobs">
                        <div class="job viewed">	
                            <div class="job-head">
                                <h2>
                                    <a>Receptionist</a></h2>
                                    <a class="btn" >View and apply <svg role="img" xmlns="http://www.w3.org/2000/svg" width="18" height="18"><g fill="none" stroke="#fff" stroke-width="2"><path stroke-linejoin="round" d="M1 9h14"></path><path d="M9 2l7 7-7 7"></path></g></svg></a>
                            </div>
                            <ul class="job-intro">
                                 <li><span>No. of vacancy</span>
                                    <strong>1</strong>
                                </li>
                                <li>
                                    <span>Work location</span>
                                    <strong >HCMC</strong>
                                </li>
                            
                            </ul>      
                        </div>
                        <div class="job viewed">	
                            <div class="job-head">
                                <h2>
                                    <a>Receptionist</a></h2>
                                    <a class="btn" >View and apply <svg role="img" xmlns="http://www.w3.org/2000/svg" width="18" height="18"><g fill="none" stroke="#fff" stroke-width="2"><path stroke-linejoin="round" d="M1 9h14"></path><path d="M9 2l7 7-7 7"></path></g></svg></a>
                            </div>
                            <ul class="job-intro">
                                 <li><span>No. of vacancy</span>
                                    <strong>1</strong>
                                </li>
                                <li>
                                    <span>MAIN JOB PURPOSE</span>
                                    <strong >Acquire and manage pensions clients and distribution channels</strong>
                                </li>
                            
                            </ul>      
                        </div>  
                        <div class="job viewed">	
                            <div class="job-head">
                                <h2>
                                    <a>Distribution Agent Officer</a></h2>
                                    <a class="btn" >View and apply <svg role="img" xmlns="http://www.w3.org/2000/svg" width="18" height="18"><g fill="none" stroke="#fff" stroke-width="2"><path stroke-linejoin="round" d="M1 9h14"></path><path d="M9 2l7 7-7 7"></path></g></svg></a>
                            </div>
                            <ul class="job-intro">
                                 <li><span>No. of vacancy</span>
                                    <strong>2</strong>
                                </li>
                                <li>
                                    <span>Work location</span>
                                    <strong >Ho Chi Minh Office, 16/F Me Linh Point, 2 Ngo Duc Ke, District 1, HCMC</strong>
                                </li>                       
                            </ul>      
                        </div>   
                        <div class="job viewed">	
                            <div class="job-head">
                                <h2>
                                    <a>Customer Service Officer</a></h2>
                                    <a class="btn" >View and apply <svg role="img" xmlns="http://www.w3.org/2000/svg" width="18" height="18"><g fill="none" stroke="#fff" stroke-width="2"><path stroke-linejoin="round" d="M1 9h14"></path><path d="M9 2l7 7-7 7"></path></g></svg></a>
                            </div>
                            <ul class="job-intro">
                                 <li><span>No. of vacancy</span>
                                    <strong>2 in HCMC and 1 in HN</strong>
                                </li>
                                <li>
                                    <span>Work location</span>
                                    <strong >Ho Chi Minh City and HN</strong>
                                </li>   
                                <li>
                                    <span>MAIN JOB PURPOSE</span>
                                    <strong >Delights the investors. Provide our investors with such a good experience and product that they are willing to invest more money.</strong>
                                </li>                     
                            </ul>      
                        </div> 
                        <div class="job viewed">	
                            <div class="job-head">
                                <h2>
                                    <a>Research Analyst</a></h2>
                                    <a class="btn" >View and apply <svg role="img" xmlns="http://www.w3.org/2000/svg" width="18" height="18"><g fill="none" stroke="#fff" stroke-width="2"><path stroke-linejoin="round" d="M1 9h14"></path><path d="M9 2l7 7-7 7"></path></g></svg></a>
                            </div>
                            <ul class="job-intro">
                                 <li><span>No. of vacancy</span>
                                    <strong>1</strong>
                                </li>
                                <li>
                                    <span>Work location</span>
                                    <strong >HCMC</strong>
                                </li>                       
                            </ul>      
                        </div>  
                        <div class="job viewed">	
                            <div class="job-head">
                                <h2>
                                    <a>Fund Accountant</a></h2>
                                    <a class="btn" >View and apply <svg role="img" xmlns="http://www.w3.org/2000/svg" width="18" height="18"><g fill="none" stroke="#fff" stroke-width="2"><path stroke-linejoin="round" d="M1 9h14"></path><path d="M9 2l7 7-7 7"></path></g></svg></a>
                            </div>
                            <ul class="job-intro">
                                 <li><span>No. of vacancy</span>
                                    <strong>1</strong>
                                </li>
                                <li>
                                    <span>Work location</span>
                                    <strong >HCMC</strong>
                                </li>                       
                            </ul>      
                        </div>  
                        <div class="job viewed">	
                            <div class="job-head">
                                <h2>
                                    <a>Associate</a></h2>
                                    <a class="btn" >View and apply <svg role="img" xmlns="http://www.w3.org/2000/svg" width="18" height="18"><g fill="none" stroke="#fff" stroke-width="2"><path stroke-linejoin="round" d="M1 9h14"></path><path d="M9 2l7 7-7 7"></path></g></svg></a>
                            </div>
                            <ul class="job-intro">
                                 <li><span>No. of vacancy</span>
                                    <strong>2</strong>
                                </li>
                                <li>
                                    <span>Work location</span>
                                    <strong >Hà Nội</strong>
                                </li>                       
                            </ul>      
                        </div> 
                        <div class="job viewed">	
                            <div class="job-head">
                                <h2>
                                    <a>Data Engineer</a></h2>
                                    <a class="btn" >View and apply <svg role="img" xmlns="http://www.w3.org/2000/svg" width="18" height="18"><g fill="none" stroke="#fff" stroke-width="2"><path stroke-linejoin="round" d="M1 9h14"></path><path d="M9 2l7 7-7 7"></path></g></svg></a>
                            </div>
                            <ul class="job-intro">
                                 <li><span>No. of vacancy</span>
                                    <strong> 1 </strong>
                                </li>
                                <li>
                                    <span>Work location</span>
                                    <strong >HCM</strong>
                                </li>   
                                <li>
                                    <span>MAIN JOB PURPOSE</span>
                                    <strong >The Data Engineer will support our software developers, database architects, data analysts and data scientists on data initiatives .</strong>
                                </li>                     
                            </ul>      
                        </div>     
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--  -->
   
    <!--  -->
    <section class="section-buttom">
        <div class="warp">
            <nav class="footnav" >
                <ul id="menu-footer-menu"  class="menu-1">
                    <li ><a href="home" aria-current="page">Home</a></li>
                    <li ><a href="about">About</a></li>
                    <li ><a href="OUR_PRODUCTS">Our Products</a></li>
                    <li ><a href="NEWS-EVENTS">News &amp; Events</a></li>
                    <li ><a href="Contact">Contact</a></li>
                </ul>
            </nav>
            <div class="footnav">
                <ul id="menu-legal" class="menu-1">
                    <li ><a href="">Privacy Policy</a></li>
                    <li ><a href="">Cookie policy</a></li>
                    <li ><a href="Disclaimer">Disclaimer</a></li>
                    <li ><a href="Accessibility">Accessibility</a></li>
                </ul>
            </div>
            <div class="legal">			                 
                <div class="legal-logos">                 
                    <img width="346" height="48" src="https://cdn.dragoncapital.com/media/2019/04/30153017/dragon-capital.svg" class="custom-logo" alt="Dragon Capital Group">
                </div>   
                <p class="copy" style="color: azure;">
                    © 2022 Dragon Capital Group.  All rights reserved. Made by
                    <a class="ir" style="text-decoration: none;" href="https://www.brighterir.com"> BRIGHTER<span class="bir">*</span><strong>IR</strong></a>
                </p>               
            </div>
        </div>
    </section>
    <!--  -->
</body>
</html>