<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Disclaimer</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="/styles/disclaimer.css">
    <script type="text/javascript" src="/js/home.js>"></script>

</head>
<body>
    <header class="header">
        <div class="wrap" style="display: flex;justify-content: space-around;">
            <h1 id="branding">
                <a href="home" class="custom-logo-link" rel="home" aria-current="page"><img width="346" height="48" src="https://cdn.dragoncapital.com/media/2019/04/30153017/dragon-capital.svg" class="custom-logo" alt="Dragon Capital Group"></a>
            </h1> 
        </div>
        <div class="menu">
            <ul>
                <li><a href="about">ABOUT</a>
                    <ul>
                        <li><a href="Board_Management" >Board &amp; Management</a></li>
                        <li><a href="VietNam" >VietNam</a></li>
                        <li><a href="Affiliations" >Affiliations</a></li>
                        <li><a href="History" >History</a></li>
                        <li><a href="Responsible_Investment" >Responsible Investment</a></li>
                        <li><a href="Careers" >Careers</a></li>
                    </ul>
                </li>
                <li><a href="OUR_PRODUCTS">OUR PRODUTOR</a>
                    <ul>
                        <li><a href="Vietnam_Enterprise_Investments_Limited" >Vietnam Enterprise Investments Limited</a></li>
                        <li><a href="" >Vietnam Equity (UCITS) Fund</a></li>
                        <li><a href="#" >Vietnam Debt Fund SPC – B Share</a></li>
                        <li><a href="Segregated_Managed_Accounts" >Segregated Managed Accounts</a></li>
                    </ul>
                </li>
                <li><a href="NEWS-EVENTS">NEWS & EVENTS</a></li>
                <li><a href="Contact">CONTACT</a></li>
                
            </ul>
        </div>         
    </header>

    <main>
        <div class="page-banner">
            <div class="warp">
                <div class="banner-heah" style="margin-left: 40px; width: 50%;">
                    <h3>
                        <p style="font-size: 3.5rem; padding-top: 20px; color: cadetblue;">Disclaimer</p> 	
                    </h3>
                </div>
            </div>
        </div>
    </main>
    <div class="content-banner">
        <div class="div-menu" style="margin-left: 0px;">
            <div class="menu-left" >
                <ul>
                    <li style="border-top: 2px solid darkcyan;"><a href="https://www.dragoncapital.com/privacy-policy/">Privacy Policy</a></li>
                    <li><a href="https://www.dragoncapital.com/cookie-policy/">Cookie policy</a></li>
                    <li><a href="https://www.dragoncapital.com/disclaimer/" aria-current="page">Disclaimer</a></li>
                    <li style="border-bottom: 2px solid darkcyan;"><a href="https://www.dragoncapital.com/accessibility/">Accessibility</a></li>
                    
                </ul>
            </div>
            <div class="menu-text">
                <div class="text-content-warpper" >
                    <p>The Dragon Capital Group web site contains information on investments and the dissemination of this information may be subject to or restricted by laws and regulations in particular jurisdictions. This website may contain advertising, and it is not intended to be published or made available to any person in any jurisdiction where doing so would result in contravention of any applicable laws or regulations. In particular, the investment funds managed by Dragon Capital Group can be marketed to certain individuals in certain jurisdictions only, and may require the disclosure of additional information. The user should ensure that the use of this information and the making of any investment as a result does not contravene any such restrictions. It is the user’s responsibility to be informed and to observe all applicable laws and regulations of any relevant jurisdiction.</p>
                    <p>The information contained within the Dragon Capital Group web site does not constitute an offer or solicitation to sell shares or units in any of the investments referred to, by anyone in any jurisdiction in which such offer, solicitation or distribution would be unlawful or in which the person making such offer or solicitation is not qualified to do so or to anyone to whom it is unlawful to make such offer or solicitation. Any user distributing information taken from this site, in whatever form, to any other person, agrees to attach a copy of this page and obtain the agreement of such other person to comply with the terms set forth on this page.</p>
                    <p >Subject to the above, applications to invest in any investments detailed on this web site must only be made on the basis of an offer document relating to the specific investment (e.g., prospectus, placing memorandum, listing particulars or other applicable terms and conditions). Before making an investment, users should consult an appropriate professional advisor to determine all relevant considerations including tax consequences, and suitability of the investment for particular circumstances. If you are unsure about the meaning of any of the information contained within this web site, please consult your financial or other professional advisor.</p>
                    <p>Users should be aware of the risks associated with equity investment. Please remember that past performance is not necessarily a guide to the future. Market and currency movements may cause the value of investments and the income from them to fall as well as rise and it is possible to realise less than you invested when you decide to sell your investments, or even lose the entire amount that you invested.</p>
                    <p>Users are advised that Dragon Capital Group makes no warranty, express or implied, as to the accuracy of the information contained on this web site, and neither Dragon Capital Group, nor its subsidiaries or affiliates, shall be liable for any loss or damages resulting from reliance on the information contained on this web site.</p>
                </div>
            </div>
        </div>
    </div>
    <section class="section-buttom">
        <div class="warp">
            <nav class="footnav" >
                <ul id="menu-footer-menu"  class="menu-1">
                    <li ><a href="home" aria-current="page">Home</a></li>
                    <li ><a href="about">About</a></li>
                    <li ><a href="OUR_PRODUCTS">Our Products</a></li>
                    <li ><a href="NEWS-EVENTS">News &amp; Events</a></li>
                    <li ><a href="Contact">Contact</a></li>
                </ul>
            </nav>
            <div class="footnav">
                <ul id="menu-legal" class="menu-1">
                    <li ><a href="">Privacy Policy</a></li>
                    <li ><a href="">Cookie policy</a></li>
                    <li ><a href="Disclaimer">Disclaimer</a></li>
                    <li ><a href="Accessibility">Accessibility</a></li>
                </ul>
            </div>
            <div class="legal">			                 
                <div class="legal-logos">                 
                    <img width="346" height="48" src="https://cdn.dragoncapital.com/media/2019/04/30153017/dragon-capital.svg" class="custom-logo" alt="Dragon Capital Group">
                </div>   
                <p class="copy">
                    © 2022 Dragon Capital Group.  All rights reserved. Made by
                    <a class="ir" href="https://www.brighterir.com"> BRIGHTER<span class="bir">*</span><strong>IR</strong></a>
                </p>               
            </div>
        </div>
    </section>
</body>
</html>