<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>History</title>
    <link rel="stylesheet" href="/styles/history.css">

    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="/styles/History.css">
    <script type="text/javascript" src="/js/home.js>"></script>

</head>
<body>
    <header class="header">
        <div class="wrap" style="display: flex;justify-content: space-around;">
            <h1 id="branding">
                <a href="home" class="custom-logo-link" rel="home" aria-current="page"><img width="346" height="48" src="https://cdn.dragoncapital.com/media/2019/04/30153017/dragon-capital.svg" class="custom-logo" alt="Dragon Capital Group"></a>
            </h1> 
        </div>
        <div class="menu">
            <ul>
                <li><a href="about">ABOUT</a>
                    <ul>
                        <li><a href="Board_Management" >Board &amp; Management</a></li>
                        <li><a href="VietNam" >VietNam</a></li>
                        <li><a href="Affiliations" >Affiliations</a></li>
                        <li><a href="History" >History</a></li>
                        <li><a href="Responsible_Investment" >Responsible Investment</a></li>
                        <li><a href="Careers" >Careers</a></li>
                    </ul>
                </li>
                <li><a href="OUR_PRODUCTS">OUR PRODUTOR</a>
                    <ul>
                        <li><a href="Vietnam_Enterprise_Investments_Limited" >Vietnam Enterprise Investments Limited</a></li>
                        <li><a href="" >Vietnam Equity (UCITS) Fund</a></li>
                        <li><a href="#" >Vietnam Debt Fund SPC – B Share</a></li>
                        <li><a href="Segregated_Managed_Accounts" >Segregated Managed Accounts</a></li>
                    </ul>
                </li>
                <li><a href="NEWS-EVENTS">NEWS & EVENTS</a></li>
                <li><a href="Contact">CONTACT</a></li>
                
            </ul>
        </div>         
    </header>

    <main>
        <div class="page-banner">
            <div class="warp">
                <div class="banner-heah" style="margin-left: 40px; width: 50%;">
                    <h3>
                        <span>DRAGON CAPITAL MILESTONES</span> 
                        <p style="font-size: 3.5rem; padding-top: 20px; color: cadetblue;"> History</p> 	
                    </h3>
                    <p >For over two decades, Dragon Capital has grown in tandem with Vietnam.</p>                 
                    
                </div>
                <div class="banner-widgets">
                    <div class="banner-widget">
                        <h2>It is the story of a remarkable group of people coming together to create a dynamic company with a unique culture; and an extraordinary country throwing off the past and coming of age. Here are some of the most significant moments.</h2>							                               
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div class="content-banner">
        <div class="div-menu" style="margin-left: 0px;">
            <div class="menu-left" >
                <ul>
                    <li style="border-top:2px solid #007d68;"><a href="Board_Management">Board &amp; Management</a></li>
                    <li ><a href="VietNam">Vietnam</a></li>
                    <li ><a href="Affiliations">Affiliations</a></li>
                    <li ><a href="History">History</a></li>
                    <li ><a href="Responsible_Investment">Responsible Investment</a></li>
                    <li style="border-bottom:2px solid #007d68;"><a href="Careers">Careers</a></li> 
               </ul>
            </div>
            <div class="menu-text" style="float: right;">
                <div class="text-content">
                    <p>2020</p>
                </div>
                <div class="text-content-warpper" >
                    <p>Merger between Dragon Capital and Vietnam Investment Fund Management Joint Stock Company</p>
                </div>
                
            </div>
            <div class="menu-text" style="float: right;">
                <div class="text-content">
                    <p>2019</p>
                </div>
                <div class="text-content-warpper" >
                    <p>In its 25th Anniversary Year Dragon Capital Group’s AUM is $3bn with 110 management and staff. Its mission remains unchanged to be a top class intermediator of capital by providing attractive returns to investors, value to companies, and a desirable workplace for employees. To perform these with absolute professionalism and integrity, driven by a long term commitment to the sustainable development of the environment, society and economy of Vietnam.</p>
                    <p>H.E. Dasho Tshering Tobgay, Former Prime Minister of the Kingdom of Bhutan delivered a Keynote Address at the reception celebrating Dragon Capital’s 25th Anniversary, took place at GEM Centre in Ho Chi Minh on 26 September 2019. It was a truly unforgettable and honoured night for all participants to hear the concept of Gross National Happiness (GNH) and the relationship between measure wellbeing and macroeconomic indicators. GNH has been used to guide public policymaking in the Kingdom of Bhutan and applied as certification tool for business.</p>
                    <p>Dragon Capital launches biodiversity economics chair to price ecosystems. Over the next five years, Dragon Capital and the University of Exeter will together commit £1.6mn to fund the new position which will look to address the central question of how individuals and organisations value natural resources.</p>
                    <img class="timeline__thumb" src="https://cdn.dragoncapital.com/media/2019/10/30150833/2F0A9700.jpg" alt="">
                </div>
            </div>
            <div class="menu-text" style="float: right;">
                <div class="text-content">
                    <p>2018</p>
                </div>
                <div class="text-content-warpper" >
                    <p>Launch of Vietnam Co-Investment Fund (“VCF”)</p>
                </div>
                
            </div>
            <div class="menu-text" style="float: right;">
                <div class="text-content">
                    <p>2017</p>
                </div>
                <div class="text-content-warpper" >
                    <p>Launch of Vietnam IPO/Placing Platform (“IPOPP”)</p>
                </div>
                
            </div>
            <div class="menu-text" style="float: right;">
                <div class="text-content">
                    <p>2016</p>
                </div>
                <div class="text-content-warpper" >
                    <p>VEIL FTSE 250 inclusion</p>
                    <p>VEIL LSE listing</p>
                    <p>Dragon Capital is managing assets worth US$1.6bn and has 97 staff based in Ho Chi Minh City, Hanoi, London, Bangkok and Hong Kong.</p>
                    <img class="timeline__thumb" src="https://cdn.dragoncapital.com/media/2019/06/30150910/Dragon-Capital.jpg" alt="">
                </div>
            </div>
            <div class="menu-text" style="float: right;">
                <div class="text-content">
                    <p>2015 </p>
                </div>
                <div class="text-content-warpper" >
                    <p>Vietnam Growth Fund and Vietnam Enterprise Investments Ltd merge into one fund</p>
                </div>
            </div>
            <div class="menu-text" style="float: right;">
                <div class="text-content">
                    <p>2014</p>
                </div>
                <div class="text-content-warpper" >
                    <p>Our twentieth anniversary. Per capita GDP in Vietnam is now over US$1,000, an almost ten-fold increase in twenty years!</p>
                    <img class="timeline__thumb" src="https://cdn.dragoncapital.com/media/2019/04/30150936/dragon-capital-20-years.jpg" alt="">
                </div>
            </div>
            <div class="menu-text" style="float: right;">
                <div class="text-content">
                    <p>2013 </p>
                </div>
                <div class="text-content-warpper" >
                    <p>Launch of Dragon Capital Developing Markets Strategies p.l.c (“DC DMS”) – Vietnam Equity (UCITS) Fund (“VEF”) and Dragon Capital Semeru Asia Equity High Yield Fund (“DC Semeru”)</p>
                </div>
            </div>
            <div class="menu-text" style="float: right;">
                <div class="text-content">
                    <p>2012 </p>
                </div>
                <div class="text-content-warpper" >
                    <p>Vietnam surpasses Brazil to become the world’s largest coffee exporter.</p>
                </div>
            </div>
            <div class="menu-text" style="float: right;">
                <div class="text-content">
                    <p>2010 </p>
                </div>
                <div class="text-content-warpper" >
                    <p>Launch of Mekong Brahmaputra Clean Development Fund (“MBCDF”).</p>
                    <p>Our Hong Kong office opens. Dragon Capital Management (HK) Limited with SFC license (Type 4 & 9)</p>
                </div>
            </div>
            <div class="menu-text" style="float: right;">
                <div class="text-content">
                    <p>2008</p>
                </div>
                <div class="text-content-warpper" >
                    <p>Launch of Vietnam Property Fund Limited (“VPF”).</p>
                    <p>Launch of the Annual Report Awards.</p>
                    <img class="timeline__thumb" src="https://cdn.dragoncapital.com/media/2019/04/30150936/annualawards.jpg" alt="">
                </div>
            </div>
            <div class="menu-text" style="float: right;">
                <div class="text-content">
                    <p>2007</p>
                </div>
                <div class="text-content-warpper" >
                    <p>Vietnam joins the World Trade Organization (“WTO”) becoming the 150th member.</p>
                    <p>Dragon Capital’s team now numbers 64.</p>
                    <p>Launch of Vietnam Resources Investments (Holdings) Limited (“VRI”) and Vietnam Debt Fund SPC (“VDeF”).</p>
                    <p>Dragon Capital acquires 23% of micro-finance company Prasac, our first investment in Cambodia.</p>
                    <img class="timeline__thumb" src="https://cdn.dragoncapital.com/media/2019/04/30150936/dragon-capital-2007.jpg" alt="">
                </div>
            </div>
            <div class="menu-text" style="float: right;">
                <div class="text-content">
                    <p>2006 </p>
                </div>
                <div class="text-content-warpper" >
                    <p>Dragon Capital Markets (Europe) Limited is licensed by Financial Services Authority (“FSA”)</p>
                </div>
            </div>
            <div class="menu-text" style="float: right;">
                <div class="text-content">
                    <p>2005</p>
                </div>
                <div class="text-content-warpper" >
                    <p>Hanoi Stock Exchange (HNX) opens</p>
                    <p>Proparco invests in Dragon Capital.</p>
                </div>
            </div>
            <div class="menu-text" style="float: right;">
                <div class="text-content">
                    <p>2004</p>
                </div>
                <div class="text-content-warpper" >
                    <p>Launch of our Vietnam Growth Fund Limited (“VGF”).</p>
                    <p>The first commercial flight from the US to Vietnam in over two decades touches down.</p>
                </div>
            </div>
            <div class="menu-text" style="float: right;">
                <div class="text-content">
                    <p>2003</p>
                </div>
                <div class="text-content-warpper" >
                    <p>VietFund Management (“VFM”) and Ho Chi Minh City Securities Corporation (“HSC”) are established.</p>
                    <img class="timeline__thumb" src="https://cdn.dragoncapital.com/media/2019/04/30150936/vietfundmgt.jpg" alt="">
                </div>
            </div>
            <div class="menu-text" style="float: right;">
                <div class="text-content">
                    <p>2001</p>
                </div>
                <div class="text-content-warpper" >
                    <p>International Financial Corporation invests in Dragon Capital.</p>
                </div>
            </div>
            <div class="menu-text" style="float: right;">
                <div class="text-content">
                    <p>2000</p>
                </div>
                <div class="text-content-warpper" >
                    <p>Ho Chi Minh Stock Exchange (HSX) opens.</p>
                    <p>Vietnam signs the Bilateral Trade Agreement (BTA) with the US which spurs economic growth.</p>
                    <img class="timeline__thumb" src="https://cdn.dragoncapital.com/media/2019/04/30150935/hcm.jpg" alt="">
                </div>
            </div>
            <div class="menu-text" style="float: right;">
                <div class="text-content">
                    <p>1997</p>
                </div>
                <div class="text-content-warpper" >
                    <p>The Asian Financial Crisis erupts, many Asian economies falter, their markets fall by up to 70% and currencies fail. Vietnam with its non-convertible currency is less badly hit. Other Vietnam funds go under, however, and VEIL is the only one to survive.</p>
                </div>
            </div>
            <div class="menu-text" style="float: right;">
                <div class="text-content">
                    <p>1995</p>
                </div>
                <div class="text-content-warpper" >
                    <p>Our Vietnam Enterprise Investments Fund Limited (“VEIL”) is launched and remains the original and longest-running Vietnam fund.</p>
                    <p>Vietnam becomes a full member of ASEAN.</p>
                    <img class="timeline__thumb" src="https://cdn.dragoncapital.com/media/2019/04/30150935/AS_5thSUMMIT.jpg" alt="">
                </div>
            </div>
            <div class="menu-text" style="float: right;">
                <div class="text-content">
                    <p>1994</p>
                </div>
                <div class="text-content-warpper" >
                    <p>Dragon Capital is formed in Ho Chi Minh City with a team of six.</p>
                    <p>President Clinton lifts the 19-year trade embargo against Vietnam, in place since the end of the Vietnam War.</p>
                    <p>Vietnam GDP per capita is US$227 and the country has no stock market.</p>
                    <img class="timeline__thumb" src="https://cdn.dragoncapital.com/media/2019/04/30150935/1994-gdp-procapita.png" alt="">                </div>
            </div>
        </div>
    </div>
    <section class="section-buttom" style="margin-top: 30px;">
        <div class="warp">
            <nav class="footnav" >
                <ul id="menu-footer-menu"  class="menu-1">
                    <li ><a href="home" aria-current="page">Home</a></li>
                    <li ><a href="about">About</a></li>
                    <li ><a href="OUR_PRODUCTS">Our Products</a></li>
                    <li ><a href="NEWS-EVENTS">News &amp; Events</a></li>
                    <li ><a href="Contact">Contact</a></li>
                </ul>
            </nav>
            <div class="footnav">
                <ul id="menu-legal" class="menu-1">
                    <li ><a href="">Privacy Policy</a></li>
                    <li ><a href="">Cookie policy</a></li>
                    <li ><a href="Disclaimer">Disclaimer</a></li>
                    <li ><a href="Accessibility">Accessibility</a></li>
                </ul>
            </div>
            <div class="legal">			                 
                <div class="legal-logos">                 
                    <img width="346" height="48" src="https://cdn.dragoncapital.com/media/2019/04/30153017/dragon-capital.svg" class="custom-logo" alt="Dragon Capital Group">
                </div>   
                <p class="copy">
                    © 2022 Dragon Capital Group.  All rights reserved. Made by
                    <a class="ir" href="https://www.brighterir.com" style="color:aliceblue;"> BRIGHTER<span class="bir">*</span><strong>IR</strong></a>
                </p>               
            </div>
        </div>
    </section>
</body>
</html>