<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEWS -EVENTS</title>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="/styles/newEvents.css">
    <script type="text/javascript" src="/js/home.js>"></script>

</head>
<body>
    <header class="header">
        <div class="wrap" style="display: flex;justify-content: space-around;">
            <h1 id="branding">
                <a href="home" class="custom-logo-link" rel="home" aria-current="page"><img width="346" height="48" src="https://cdn.dragoncapital.com/media/2019/04/30153017/dragon-capital.svg" class="custom-logo" alt="Dragon Capital Group"></a>
            </h1>  
            <div class="menu">
                <ul>
                    <li><a href="about">ABOUT</a>
                        <ul>
                            <li><a href="Board_Management" >Board &amp; Management</a></li>
                            <li><a href="VietNam" >VietNam</a></li>
                            <li><a href="Affiliations" >Affiliations</a></li>
                            <li><a href="History" >History</a></li>
                            <li><a href="Responsible_Investment" >Responsible Investment</a></li>
                            <li><a href="Careers" >Careers</a></li>
                        </ul>
                    </li>
                    <li><a href="OUR_PRODUCTS">OUR PRODUTOR</a>
                        <ul>
                            <li><a href="Vietnam_Enterprise_Investments_Limited" >Vietnam Enterprise Investments Limited</a></li>
                            <li><a href="" >Vietnam Equity (UCITS) Fund</a></li>
                            <li><a href="#" >Vietnam Debt Fund SPC – B Share</a></li>
                            <li><a href="Segregated_Managed_Accounts" >Segregated Managed Accounts</a></li>
                        </ul>
                    </li>
                    <li><a href="NEWS-EVENTS">NEWS & EVENTS</a></li>
                    <li><a href="Contact">CONTACT</a></li>
                    
                </ul>
            </div>         
    </header>


    <main>
        <div class="page-banner">
            <div class="page-banner" style="background-image: url(https://cdn.dragoncapital.com/media/2019/08/30150857/vietnam-Resized-1.jpg); background-position: center center;" id="static">	
                <div class="wrap">
                    <div class="banner-content">
                        <h1> Creating Opportunity<br> in Vietnam and <br> Beyond for over 25 <br> years</h1>
                    </div>
            <div class="banner-widgets">
                <div class="banner-widget">
                    <h3>NEWS & EVENTS</h3>
                    <p>Keep up to date with what's happening at Dragon Capital</p>							                               
                </div>
            </div>
            </div>
        </div>
    </main>
    <section class="section-page-content">
        <div class="vc-section-row">
            <div class="section-left-content">
                <div class="text" style="text-align: center; font-size: 30px;">
                    <h3>Latest News</h3>
                </div>
            </div>
            <div class="image-text">
                <div class="buttom">
                    <div class="zoom"><img width="800" height="340" src="https://cdn.dragoncapital.com/media/2022/01/04042244/VN-Listed-Com-Awards_KeyVisual_20211228-800x340.jpg" class="attachment-feat-thumb size-feat-thumb wp-post-image" alt="">
                        <div class="text" style="width: 790px;">
                            <span>Read more<svg role="img" xmlns="http://www.w3.org/2000/svg" width="18" height="18"><g fill="none" stroke="#fff" stroke-width="2"><path stroke-linejoin="round" d="M1 9h14"></path><path d="M9 2l7 7-7 7"></path></g></svg></span>
                        </div>
                    </div>
                    
                </div>  
                <div class="latest_news-text" style="margin-top: 70px;">
                    <div class="post-widget" style="    padding: 30px 36px;">
                        <article class="article-text">
                            <h2 style="color: darkcyan;">Vietnam Listed Company Awards</h2>
                            <p>The annual Vietnam Listed Company Awards Ceremony for 2021 was held online for the first time, together with a seminar themed “Listed companies and new requirements on transparent information in environmental related issues.”Dragon Capital proudly co-hosted the event with VIR and the Hanoi and Ho Chi Minh City Stock Exchanges. Attending the event were leaders from the State Securities Commission, […]</p>
                        </article>
                    </div>               
                </div>
            </div>  
    </section>
    <section class="content-panner">
        <div class="panner-bar">
            <div class="panner-text">
                <div class="text-pas">
                    <p>Vietnam climate action: Our roles in building a sustainable business</p>
                </div>
                <a class="btn" href="https://www.dragoncapital.com/vietnam-climate-action-our-roles-in-building-a-sustainable-business/">
                    Read more <svg role="img" xmlns="http://www.w3.org/2000/svg" width="18" height="18"><g fill="none" stroke="#74CBC8" stroke-width="2"><path stroke-linejoin="round" d="M1 9h14"></path><path d="M9 2l7 7-7 7"></path></g></svg>
                </a>
            </div>
            <div class="panner-text-true">
                <div class="text-pas">
                    <p>Returns and Rewards of a Climate-smart Future</p>
                </div>
                <a class="btn" href="https://www.dragoncapital.com/vietnam-climate-action-our-roles-in-building-a-sustainable-business/">
                    Read more <svg role="img" xmlns="http://www.w3.org/2000/svg" width="18" height="18"><g fill="none" stroke="#74CBC8" stroke-width="2"><path stroke-linejoin="round" d="M1 9h14"></path><path d="M9 2l7 7-7 7"></path></g></svg>
                </a>
            </div>  
            <div class="panner-text">
                <div class="text-pas">
                    <p>Dragon Capital Virtual Vietnam</p>
                </div>
                <a class="btn" href="https://www.dragoncapital.com/vietnam-climate-action-our-roles-in-building-a-sustainable-business/">
                    Read more <svg role="img" xmlns="http://www.w3.org/2000/svg" width="18" height="18"><g fill="none" stroke="#74CBC8" stroke-width="2"><path stroke-linejoin="round" d="M1 9h14"></path><path d="M9 2l7 7-7 7"></path></g></svg>
                </a>
            </div>
            <div class="panner-text-true">
                <div class="text-pas">
                    <p>Fulbright University Vietnam receives US$1 Million to launch academic program “Natural Capital Management”</p>
                </div>
                <a class="btn" href="https://www.dragoncapital.com/vietnam-climate-action-our-roles-in-building-a-sustainable-business/">
                    Read more <svg role="img" xmlns="http://www.w3.org/2000/svg" width="18" height="18"><g fill="none" stroke="#74CBC8" stroke-width="2"><path stroke-linejoin="round" d="M1 9h14"></path><path d="M9 2l7 7-7 7"></path></g></svg>
                </a>
            </div>  
        </div>     
    </section>
    <section class="section-page-content">
        <div class="vc-section-row" style="padding-top: 150px;">
            <div class="section-left-content">
                <div class="text" style="text-align: center; font-size: 30px;">
                    <h3>Latest Events</h3>
                </div>
            </div>
            <div class="image-text">
                <div class="buttom">
                    <div class="zoom"><img width="800" height="340" src="https://cdn.dragoncapital.com/media/2021/09/03075451/DC-Backdrop-4-800x340.jpg" class="attachment-feat-thumb size-feat-thumb wp-post-image" alt="" loading="lazy">
                        <div class="text" style="width: 790px;">
                            <span>Read more<svg role="img" xmlns="http://www.w3.org/2000/svg" width="18" height="18"><g fill="none" stroke="#fff" stroke-width="2"><path stroke-linejoin="round" d="M1 9h14"></path><path d="M9 2l7 7-7 7"></path></g></svg></span>
                        </div>
                    </div>
                    
                </div>  
                <div class="latest_news-text" style="margin-top: 70px;">
                    <div class="post-widget" style="    padding: 30px 36px;">
                        <article class="article-text">
                            <h2 style="color: darkcyan;">Dragon Capital Virtual Vietnam</h2>
                            <p>We recently hosted our second ever Virtual Vietnam Conference on 15 and 16 September, 2021 and would like to share our presentations from the two-days.  Covering topical questions, economic and market outlooks and well as discussions with the portfolio managers. Please click on the links below to access the recording: Day 1 Day 2</p>
                        </article>
                    </div>               
                </div>
            </div>  
    </section>
    <section class="content-panner">
        <div class="panner-bar">           
            <div class="panner-text">
                <div class="text-pas">
                    <p>VIISA Acceleration Program Batch 7 graduated</p>
                </div>
                <a class="btn" href="https://www.dragoncapital.com/vietnam-climate-action-our-roles-in-building-a-sustainable-business/">
                    Read more <svg role="img" xmlns="http://www.w3.org/2000/svg" width="18" height="18"><g fill="none" stroke="#74CBC8" stroke-width="2"><path stroke-linejoin="round" d="M1 9h14"></path><path d="M9 2l7 7-7 7"></path></g></svg>
                </a>
            </div>
            <div class="panner-text-true">
                <div class="text-pas">
                    <p>Dragon Capital Vietnam Access Conference 2019</p>
                </div>
                <a class="btn" href="https://www.dragoncapital.com/vietnam-climate-action-our-roles-in-building-a-sustainable-business/">
                    Read more <svg role="img" xmlns="http://www.w3.org/2000/svg" width="18" height="18"><g fill="none" stroke="#74CBC8" stroke-width="2"><path stroke-linejoin="round" d="M1 9h14"></path><path d="M9 2l7 7-7 7"></path></g></svg>
                </a>
            </div>  
        </div>     
    </section>
    <section class="content-footer">
        <div class="footer-wid" style="text-align: center;">
            <h2 style="color: blue;font-size: 50px;">Want to contact us?</h2>
            <p style="font-size: 20px;padding-bottom: 20px;"class="subtitle">We would be pleased to hear from you.</p>
            <a class="btn-center-alt" href="contact">Get in touch<svg role="img" xmlns="http://www.w3.org/2000/svg" width="18" height="18"><g fill="none" stroke="#74CBC8" stroke-width="2"><path stroke-linejoin="round" d="M1 9h14"></path><path d="M9 2l7 7-7 7"></path></g></svg></a>
        </div>
    </section>
    <section class="section-buttom">
        <div class="warp">
            <nav class="footnav" >
                <ul id="menu-footer-menu"  class="menu-1">
                    <li ><a href="home" aria-current="page">Home</a></li>
                    <li ><a href="about">About</a></li>
                    <li ><a href="OUR_PRODUCTS">Our Products</a></li>
                    <li ><a href="NEWS-EVENTS">News &amp; Events</a></li>
                    <li ><a href="Contact">Contact</a></li>
                </ul>
            </nav>
            <div class="footnav">
                <ul id="menu-legal" class="menu-1">
                    <li ><a href="">Privacy Policy</a></li>
                    <li ><a href="">Cookie policy</a></li>
                    <li ><a href="Disclaimer">Disclaimer</a></li>
                    <li ><a href="Accessibility">Accessibility</a></li>
                </ul>
            </div>
            <div class="legal">			                 
                <div class="legal-logos">                 
                    <img width="346" height="48" src="https://cdn.dragoncapital.com/media/2019/04/30153017/dragon-capital.svg" class="custom-logo" alt="Dragon Capital Group">
                </div>   
                <p class="copy">
                    © 2022 Dragon Capital Group.  All rights reserved. Made by
                    <a class="ir" href="https://www.brighterir.com"> BRIGHTER<span class="bir">*</span><strong>IR</strong></a>
                </p>               
            </div>
        </div>
    </section>
</body>
</html>