<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OUR_PRODUCTS</title>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="/styles/ourProducts.css">
    <script type="text/javascript" src="/js/home.js>"></script>

</head>
<body>
    <header class="header">
        <div class="wrap" style="display: flex;justify-content: space-around;">
            <h1 id="branding">
                <a href="home" class="custom-logo-link" rel="home" aria-current="page"><img width="346" height="48" src="https://cdn.dragoncapital.com/media/2019/04/30153017/dragon-capital.svg" class="custom-logo" alt="Dragon Capital Group"></a>
            </h1>  
            <div class="menu">
                <ul>
                    <li><a href="about">ABOUT</a>
                        <ul>
                            <li><a href="Board_Management" >Board &amp; Management</a></li>
                            <li><a href="VietNam" >VietNam</a></li>
                            <li><a href="Affiliations" >Affiliations</a></li>
                            <li><a href="History" >History</a></li>
                            <li><a href="Responsible_Investment" >Responsible Investment</a></li>
                            <li><a href="Careers" >Careers</a></li>
                        </ul>
                    </li>
                    <li><a href="OUR_PRODUCTS">OUR PRODUTOR</a>
                        <ul>
                            <li><a href="Vietnam_Enterprise_Investments_Limited" >Vietnam Enterprise Investments Limited</a></li>
                            <li><a href="" >Vietnam Equity (UCITS) Fund</a></li>
                            <li><a href="#" >Vietnam Debt Fund SPC – B Share</a></li>
                            <li><a href="Segregated_Managed_Accounts" >Segregated Managed Accounts</a></li>
                        </ul>
                    </li>
                    <li><a href="NEWS-EVENTS">NEWS & EVENTS</a></li>
                    <li><a href="Contact">CONTACT</a></li>
                    
                </ul>
            </div>         
    </header>


    <main>
        <div class="page-banner">
            <div class="page-banner" style="background-image: url(https://cdn.dragoncapital.com/media/2019/06/30150904/dragon-capital-products-1.jpg); background-position: center center;" id="static">	
                <div class="wrap">
                    <div class="banner-content">
                        <h1> Creating Opportunity<br> in Vietnam and <br> Beyond for over 25 <br> years</h1>
                    </div>
            <div class="banner-widgets">
                <div class="banner-widget">
                    <h3>OUR PRODUCTS</h3>
                    <p>A range of products and investment solutions</p>							                               
                </div>
            </div>
            </div>
        </div>
    </main>
    <div class="content-banner">
        <div class="div-menu" style="margin-left: 0px;">
            <div class="menu-left" >
                <ul>
                    <li style="border-top: 2px solid darkcyan;"><a href="Vietnam_Enterprise_Investments_Limited">VIETNAM ENTERPRISE INVESTMENTS LIMITED</a></li>
                    <li><a href="https://www.dragoncapital.com/about/vietnam/" aria-current="page">VIETNAM EQUITY (UCITS) FUND</a></li>
                    <li><a href="Vietnam_Debt_Fund_SPC">VIETNAM DEBT FUND SPC</a></li>
                    <li style="border-bottom: 2px solid darkcyan;"><a href="Segregated_Managed_Accounts">SEGREGATED MANAGED ACCOUNTS</a></li>
                    
                </ul>
            </div>
            <div class="menu-text">
                <div class="text-content">
                    <p>Dragon Capital offers a range of products designed to target all asset classes and address all client needs. These investment solutions provide access to the opportunities in Vietnam’s fast-growing economy. Currently we do not have funds with a clean-tech or property focus however we do have multi-year experience in these sectors and investment teams in-house. These assets are catered through specialist portfolios.</p>
                </div>
                <div class="text-content-warpper" >
                    <p>We currently manage US$4bn (as of 31 December 2020 – unaudited) in listed equity, clean-tech, fixed income and real estate on behalf of international pension and sovereign wealth funds and endowments, family offices and high net worth individuals.</p>
                    <table id="tablepress-2" class="tablepress">
                        <thead>
                            <tr class="row-1">
                                <th class="column-1">&nbsp;</th><th class="column-2" style="padding: 9px 8px;">PRODUCTS</th><th class="column-3">BLOOMBERG</th><th class="column-4">REUTERS</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="row-2">
                                <td class="column-1">JEFFERIES INTERNATIONAL</td><td class="column-2">VEIL</td><td class="column-3">JCEF</td><td class="column-4">n/a</td>
                            </tr>
                            <tr class="row-3">
                                <td class="column-1">SEI INVESTMENTS</td><td class="column-2">VEF</td><td class="column-3">VIETNAM ID</td><td class="column-4">DRAGON1</td>
                            </tr>
                        </tbody>
                        </table>
                       <div class="hover">
                            <a target="_blank" class="file-cta-sm btn-beige " href="https://cdn.dragoncapital.com/media/2022/02/15033624/MR_202201.pdf">
                                <h4 >The latest products updates</h4>
                            <p class="meta" style="margin-bottom: 0;"><svg role="img" xmlns="http://www.w3.org/2000/svg" width="18" height="18"><g fill="none" stroke="#74CBC8" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"> <path d="M17 11.6666667v3.5555555C17 16.2040618 16.2040618 17 15.2222222 17H2.77777778C1.79593822 17 1 16.2040618 1 15.2222222v-3.5555555"></path><path d="M4.55555556 7.22222222L9 11.6666667l4.4444444-4.44444448M9 11.6666667V1"></path></g></svg> <strong>Download PDF</strong> (552.00 KB)</p></a>
                       </div>   
                </div>
            </div>
        </div>
    </div>
    <section class="section-products">
        <div class="div-heading-products">
            <div class="feat-heading">
                <h2>Product overview</h2>
            </div>
        </div>
        <div class="content-heading-text">
            <div class="heading-text" style="margin-bottom: 30px;">
                <h3>
                    <span class="short">VEIL <br></span>
                    <span class="long">Vietnam Enterprise Investments Limited, VEIL</span>
                </h3>
                <div class="tatca-text">
                    <div class="wpb_wrapper">
                        <p>VEIL seeks long-term capital appreciation through strategic holdings in listed and pre-IPO companies that offer both attractive growth and value metrics, and strong corporate governance. VEIL allows investors to access Vietnam’s leading blue chips, including many companies that have reached their limit for foreign investment.</p>
                        <p>The fund may also invest in equity-linked instruments and private equity. VEIL’s broad universe and 3-year horizon is underpinned by conviction holdings and off-index investments.</p>
                        <p>This is a closed-end fund, registered on the Cayman Islands and listed on the Main Market of the London Stock Exchange. Launched in 1995, VEIL is Vietnam’s longest running fund and one of the region’s largest dedicated offshore listed vehicles. In 2015, it merged with our Vietnam Growth Fund (VGF).</p>           
                    </div>
                </div>
                <a class="btn" href="https://www.dragoncapital.com/our-products/veil/">Discover more
                    <svg role="img" xmlns="http://www.w3.org/2000/svg" width="26" height="12" viewBox="0 0 25.414 11.414">
                         <path fill="#fff" d="M18.293 10l4.293-4.293-4.293-4.293L19.707 0l5.707 5.707-5.707 5.707z"></path>
                         <path fill="#fff" d="M24 4.707v2H0v-2z"></path>
                    </svg>
                </a>
            </div>
            <div class="heading-text" style="margin-left: 10px;">
                <h3>
                    <span class="short">VEF <br></span>
                    <span class="long">VVietnam Equity (UCITS) Fund</span>
                </h3>
                <div class="tatca-text">
                    <div class="wpb_wrapper">
                        <p>VEF seeks medium to long-term capital appreciation through investing in a diversified portfolio of Vietnam blue chips and small caps. As the country’s first actively-managed UCITS fund, it offers a closely-regulated investment with scheduled liquidity.</p> 
                        <p>Launched in 2013, VEF is an open-ended fund under the umbrella of DC Developing Markets Strategies plc, an investment company with segregated liability between funds authorised by the Central Bank of Ireland.</p>           
                    </div>
                </div>
                <a class="btn" href="https://www.dragoncapital.com/our-products/veil/">Discover more
                    <svg role="img" xmlns="http://www.w3.org/2000/svg" width="26" height="12" viewBox="0 0 25.414 11.414">
                         <path fill="#fff" d="M18.293 10l4.293-4.293-4.293-4.293L19.707 0l5.707 5.707-5.707 5.707z"></path>
                         <path fill="#fff" d="M24 4.707v2H0v-2z"></path>
                    </svg>
                </a>
            </div>
            <!--  -->
        </div>
    </section>
    <section class="vc_section"><div class="vc_row wpb_row vc_row-fluid vc_custom_1557312154104 vc_row-o-equal-height vc_row-flex"><div class="equal wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="adviser "><img width="300" height="120" src="https://cdn.dragoncapital.com/media/2019/05/30150931/logo-acga-lg.svg" class="attachment-full size-full" alt="" loading="lazy">
    <div class="wpb_text_column wpb_content_element ">
        <div class="wpb_wrapper">
            <p>We are a signatory to ACGA, an independent organisation dedicated to implementing effective corporate governance practices throughout Asia. ACGA believes that good governance is fundamental to the region’s economies and capital markets.</p>

        </div>
    </div>

</div></div></div></div><div class="equal wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="adviser "><img width="300" height="120" src="https://cdn.dragoncapital.com/media/2019/05/30150931/logo-pri.svg" class="attachment-full size-full" alt="" loading="lazy">
    <div class="wpb_text_column wpb_content_element ">
        <div class="wpb_wrapper">
            <p>We are a signatory to PRI, the world’s leading proponent of responsible investing – and fully commit to its six principles. PRI champions the view that an economically efficient, sustainable financial system will benefit the environment and society as a whole.</p>

        </div>
    </div>

</div></div></div></div><div class="equal wpb_column vc_column_container vc_col-sm-4"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="adviser "><img width="300" height="120" src="https://cdn.dragoncapital.com/media/2019/05/30150931/logo-iigcc.svg" class="attachment-full size-full" alt="" loading="lazy">
    <div class="wpb_text_column wpb_content_element ">
        <div class="wpb_wrapper">
            <p>We are a member of IIGCC. IIGCC provides investors with a collaborative platform to encourage public policies, investment practices, and corporate behaviour that address long-term risks and opportunities associated wih climate change.</p>

        </div>
    </div>
</div></div></div></div></div>
</section>
<section class="section-buttom">
    <div class="warp">
        <nav class="footnav" >
            <ul id="menu-footer-menu"  class="menu-1">
                <li ><a href="home" aria-current="page">Home</a></li>
                <li ><a href="about">About</a></li>
                <li ><a href="OUR_PRODUCTS">Our Products</a></li>
                <li ><a href="NEWS-EVENTS">News &amp; Events</a></li>
                <li ><a href="Contact">Contact</a></li>
            </ul>
        </nav>
        <div class="footnav">
            <ul id="menu-legal" class="menu-1">
                <li ><a href="">Privacy Policy</a></li>
                <li ><a href="">Cookie policy</a></li>
                <li ><a href="Disclaimer">Disclaimer</a></li>
                <li ><a href="Accessibility">Accessibility</a></li>
            </ul>
        </div>
        <div class="legal">			                 
            <div class="legal-logos">                 
                <img width="346" height="48" src="https://cdn.dragoncapital.com/media/2019/04/30153017/dragon-capital.svg" class="custom-logo" alt="Dragon Capital Group">
            </div>   
            <p class="copy">
                © 2022 Dragon Capital Group.  All rights reserved. Made by
                <a class="ir" href="https://www.brighterir.com"> BRIGHTER<span class="bir">*</span><strong>IR</strong></a>
            </p>               
        </div>
    </div>
</section>

</body>
</html>