<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=x, initial-scale=1.0">
    <title>Responsible_Investment</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="/styles/reponsible_investment.css">
    <script type="text/javascript" src="/js/home.js>"></script>


</head>
<body>
    <header class="header">
        <div class="wrap" style="display: flex;justify-content: space-around;">
            <h1 id="branding">
                <a href="home" class="custom-logo-link" rel="home" aria-current="page"><img width="346" height="48" src="https://cdn.dragoncapital.com/media/2019/04/30153017/dragon-capital.svg" class="custom-logo" alt="Dragon Capital Group"></a>
            </h1> 
        </div>
        <div class="menu">
            <ul>
                <li><a href="about">ABOUT</a>
                    <ul>
                        <li><a href="Board_Management" >Board &amp; Management</a></li>
                        <li><a href="VietNam" >VietNam</a></li>
                        <li><a href="Affiliations" >Affiliations</a></li>
                        <li><a href="History" >History</a></li>
                        <li><a href="Responsible_Investment" >Responsible Investment</a></li>
                        <li><a href="Careers" >Careers</a></li>
                    </ul>
                </li>
                <li><a href="OUR_PRODUCTS">OUR PRODUTOR</a>
                    <ul>
                        <li><a href="Vietnam_Enterprise_Investments_Limited" >Vietnam Enterprise Investments Limited</a></li>
                        <li><a href="" >Vietnam Equity (UCITS) Fund</a></li>
                        <li><a href="#" >Vietnam Debt Fund SPC – B Share</a></li>
                        <li><a href="Segregated_Managed_Accounts" >Segregated Managed Accounts</a></li>
                    </ul>
                </li>
                <li><a href="NEWS-EVENTS">NEWS & EVENTS</a></li>
                <li><a href="Contact">CONTACT</a></li>
                
            </ul>
        </div>         
    </header>

    <div class="page-banner" style="background-image: url(https://cdn.dragoncapital.com/media/2021/04/29094023/CSR-Banner-1.jpg); background-position: center center;" id="static">	
        <div class="wrap">            
            <div class="banner-content">
                 <h1>
                     Responsible Investment					
                </h1>
             </div>                         
        </div>        
    </div>
    <section class="section-container">
        <div class="section-warp">
            <div class="warp-left">
                <ul>
                    <li style="border-top:2px solid #007d68;"><a href="Board_Management">Board &amp; Management</a></li>
                    <li ><a href="VietNam">Vietnam</a></li>
                    <li ><a href="Affiliations">Affiliations</a></li>
                    <li ><a href="History">History</a></li>
                    <li ><a href="Responsible_Investment">Responsible Investment</a></li>
                    <li style="border-bottom:2px solid #007d68;"><a href="Careers">Careers</a></li> 
               </ul>
             </div>   
        </div>
        <div class="warp-right">
            <div class="right-text">
                <h2>Our mission</h2>
                <p>Dragon Capital is an investment group focussed on generating competitive returns for investors, adding value to investee companies, and providing a desirable workplace for employees.  The company is driven by a long-term commitment to responsible development of the environment, society, and economy of the countries in which it operates.</p>
            </div>
            <div class="right-text">
                <h3>Our beliefs</h3>
                <p>We recognise that environmental, social and governance (ESG) issues can influence investment risk and thus portfolio performance.  We believe that taking a strategic, long-term approach to responsible investing will create sustainable value for our company, our stakeholders, and the wider community, not just in an economic sense but also in the ESG context.</p>
            </div>
            <div class="right-text">
                <h3>Our approach</h3>
                <p>Dragon Capital seeks to optimise risk-adjusted performance by integrating ESG factors throughout the investment process and across its actively managed funds, comprising public equity and bond funds.</p>
            </div>
     </div>
    </section>
    <section class="sv-container">
        <div class="sv-column-container">
            <div class="content-row">
                <div class="sv-text">
                    <h1>ESG management system</h1>
                    <p>Dragon Capital’s ESG management framework was a joint development effort between Dragon Capital and IFC’s ESG specialists, specifically developed for public equity and fixed income investments.</p>
                    <p>The below schematic summarizes the major steps of our ESG policy:</p>
                </div>
                <img src="https://cdn.dragoncapital.com/media/2021/04/26142916/esg-scaled.jpg" class="vc_single_image-img attachment-full" alt="" loading="lazy" title="esg" srcset="https://cdn.dragoncapital.com/media/2021/04/26142916/esg-scaled.jpg 2560w, https://cdn.dragoncapital.com/media/2021/04/26142916/esg-300x166.jpg 300w, https://cdn.dragoncapital.com/media/2021/04/26142916/esg-1024x566.jpg 1024w, https://cdn.dragoncapital.com/media/2021/04/26142916/esg-768x425.jpg 768w, https://cdn.dragoncapital.com/media/2021/04/26142916/esg-1536x850.jpg 1536w, https://cdn.dragoncapital.com/media/2021/04/26142916/esg-2048x1133.jpg 2048w" sizes="(max-width: 2560px) 100vw, 2560px">
                <div class="sv-text">
                    <h1>ESG core team</h1>
                    <p>We have established an ESG core team, which comprises a cross-section of Dragon Capital’s senior directors and investment analysts.  By integrating ESG knowledge into the investment team, we foster a strong ESG culture and keep ESG integration embedded in the daily work of our investment operations.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="sv-container-bottom">
        <div class="sv-column-container-div">
            <div class="content-row-column">
                <div class="sv-text-text">
                    <h1>Active Ownership</h1>
                    <p>We are committed to being an active owner of our investments. We have a fiduciary responsibility to act in the best interests of our clients by exercising our voting rights, engaging with investee companies, and in advocacy activities.</p>
                </div>
                <div class="image-text-column">
                    <div class="image-text">
                        <img src="https://cdn.dragoncapital.com/media/2021/04/26225206/dc-voting-rights.jpg" class="attachment-full size-full" alt="" loading="lazy" srcset="https://cdn.dragoncapital.com/media/2021/04/26225206/dc-voting-rights.jpg 1000w, https://cdn.dragoncapital.com/media/2021/04/26225206/dc-voting-rights-300x189.jpg 300w, https://cdn.dragoncapital.com/media/2021/04/26225206/dc-voting-rights-768x483.jpg 768w" sizes="(max-width: 1000px) 100vw, 1000px">
                        <h3>Voting Rights</h3>
                        <p>Voting is essential to promoting good corporate governance.  We ensure that our votes are cast in a diligent and prudent manner, based on our reasonable judgement of what will best serve the economic interests of our shareholders.</p>
                    </div>
                    <div class="image-text">
                        <img src="https://cdn.dragoncapital.com/media/2021/04/26225206/dc-voting-rights.jpg" class="attachment-full size-full" alt="" loading="lazy" srcset="https://cdn.dragoncapital.com/media/2021/04/26225206/dc-voting-rights.jpg 1000w, https://cdn.dragoncapital.com/media/2021/04/26225206/dc-voting-rights-300x189.jpg 300w, https://cdn.dragoncapital.com/media/2021/04/26225206/dc-voting-rights-768x483.jpg 768w" sizes="(max-width: 1000px) 100vw, 1000px">
                        <h3>Voting Rights</h3>
                        <p>Voting is essential to promoting good corporate governance.  We ensure that our votes are cast in a diligent and prudent manner, based on our reasonable judgement of what will best serve the economic interests of our shareholders.</p>
                    </div>
                    <div class="image-text">
                        <img src="https://cdn.dragoncapital.com/media/2021/04/26225206/dc-voting-rights.jpg" class="attachment-full size-full" alt="" loading="lazy" srcset="https://cdn.dragoncapital.com/media/2021/04/26225206/dc-voting-rights.jpg 1000w, https://cdn.dragoncapital.com/media/2021/04/26225206/dc-voting-rights-300x189.jpg 300w, https://cdn.dragoncapital.com/media/2021/04/26225206/dc-voting-rights-768x483.jpg 768w" sizes="(max-width: 1000px) 100vw, 1000px">
                        <h3>Voting Rights</h3>
                        <p>Voting is essential to promoting good corporate governance.  We ensure that our votes are cast in a diligent and prudent manner, based on our reasonable judgement of what will best serve the economic interests of our shareholders.</p>
                    </div>
                </div>   
            </div>
        </div>
    </section>
    <section class="section-vs-column">
        <div class="wpb_wrapper">
            <div class="feat-heading ">
                <h3>You can find DCG's full exclusion list and Responsible Investment Policy here</h3>
             </div>
             <a class="btn full-width center alt" href="https://cdn.dragoncapital.com/media/2021/06/28054334/DCG_ESG_Policy_20210428.pdf" target="_blank">Click here<svg role="img" xmlns="http://www.w3.org/2000/svg" width="18" height="18"><g fill="none" stroke="#74CBC8" stroke-width="2"><path stroke-linejoin="round" d="M1 9h14"></path><path d="M9 2l7 7-7 7"></path></g></svg></a>
            </div>
    </section>
    <section class="section-row-par">
        <div class="row-par">
            <div class="row-par-text">
                <h3>Climate Change</h3>
                <p>We believe that climate change, GHG emission and biodiversity loss are interrelated and inseparable threats to businesses and communities.  We are therefore evolving our capabilities to ensure that we meet our obligations of addressing this global challenge through our role as an active long-term investor.  We continue to urge investee companies to work on energy efficiency, to shift towards renewable energy sources, and to disclose their carbon footprint.  We actively engage with policy makers and offer constructive suggestions.</p>
            </div>
            <div class="row-par-image">
                <img width="400px" height="270px" src="https://cdn.dragoncapital.com/media/2021/04/26225635/dc-climate-change.jpg" class="vc_single_image-img attachment-full" alt="" loading="lazy" title="dc-climate-change" srcset="https://cdn.dragoncapital.com/media/2021/04/26225635/dc-climate-change.jpg 1000w, https://cdn.dragoncapital.com/media/2021/04/26225635/dc-climate-change-300x205.jpg 300w, https://cdn.dragoncapital.com/media/2021/04/26225635/dc-climate-change-768x524.jpg 768w" sizes="(max-width: 1000px) 100vw, 1000px">
            </div>
        </div>
        <div class="row-par">
            <div class="row-par-text">
                <h3>Biodiversity</h3>
                <p>Dragon Capital has engaged in philanthropic partnerships with the University of Exeter in the UK and The Institute of Strategy and Policy on Natural Resource and Environment (“ISPONRE”) in Vietnam to address the central question of whether there is any correlation between biodiversity and the success of the economy and whether individuals and organisations can, and should, place an economic value on biodiversity.</p>
            </div>
            <div class="row-par-image">
                <img width="400px" height="270px" src="https://cdn.dragoncapital.com/media/2021/04/26225750/dc-biodiversity.jpg" class="vc_single_image-img attachment-full" alt="" loading="lazy" title="dc-biodiversity" srcset="https://cdn.dragoncapital.com/media/2021/04/26225750/dc-biodiversity.jpg 1000w, https://cdn.dragoncapital.com/media/2021/04/26225750/dc-biodiversity-300x205.jpg 300w, https://cdn.dragoncapital.com/media/2021/04/26225750/dc-biodiversity-768x524.jpg 768w" sizes="(max-width: 1000px) 100vw, 1000px">
            </div>
        </div>
        <div class="row-par">
            <div class="row-par-text">
                <h3>Carbon Neutrality</h3>
                <p>Dragon Capital has been carbon neutral for scope one and two activities, since 2005. This is achieved through biogas offset programs established by the Netherlands Development Organisation and Vietnam’s Ministry of Agriculture and Rural Development.  179,000 biogas plants were built in 55 provinces, benefiting 850,000 Vietnamese users over the lifespan of the project, and eliminating approx. 480,000 tons of CO2 annually.  The program is certified as “Gold Standard of Voluntary Carbon Emission Reductions”.</p>
            </div>
            <div class="row-par-image">
                <img width="400px" height="270px" src="https://cdn.dragoncapital.com/media/2021/04/26225850/dc-carbon.jpg" class="vc_single_image-img attachment-full" alt="" loading="lazy" title="dc-carbon" srcset="https://cdn.dragoncapital.com/media/2021/04/26225850/dc-carbon.jpg 1000w, https://cdn.dragoncapital.com/media/2021/04/26225850/dc-carbon-300x205.jpg 300w, https://cdn.dragoncapital.com/media/2021/04/26225850/dc-carbon-768x524.jpg 768w" sizes="(max-width: 1000px) 100vw, 1000px">
            </div>
        </div>
        <div class="row-par">
            <div class="row-par-text">
                <h3>The Task Force on Climate-related Financial Disclosures (TCFD)</h3>
                <p>We support and encourage the adoption of the TCFD’s recommendations and, together with other metrics, use these as part of our framework to assess climate related risks and opportunities linked to our portfolio.  This helps us obtain a better understanding the potential financial implications in the short, medium, and long-term under different climate scenarios.</p>
            </div>
            <div class="row-par-image">
                <img width="400px" height="270px" src="https://cdn.dragoncapital.com/media/2021/04/26225949/dc-TCFD.jpg" class="vc_single_image-img attachment-full" alt="" loading="lazy" title="dc-TCFD" srcset="https://cdn.dragoncapital.com/media/2021/04/26225949/dc-TCFD.jpg 1000w, https://cdn.dragoncapital.com/media/2021/04/26225949/dc-TCFD-300x205.jpg 300w, https://cdn.dragoncapital.com/media/2021/04/26225949/dc-TCFD-768x524.jpg 768w" sizes="(max-width: 1000px) 100vw, 1000px">
            </div>
        </div>
    </section>
    <section class="section-vs-column">
        <div class="wpb_wrapper">
            <div class="feat-heading ">
                <h3 style="text-align: center; font-size: 2.5rem;">Insight Discussion</h3>
             </div>
            
        </div>
    </section>
    <section class="sv-container-bottom">
        <div class="sv-column-container-div">
            <div class="content-row-column">
                <div class="sv-text-text">
                    <h1>ESG Collaborations</h1>
                    <p>By joining forces with leading international and local organisations in sustainability initiatives, we underline our ambition and approach to responsible investing and good corporate governance.</p>
                </div>
                <div class="image-text-column">
                    <div class="image-text">
                        <img width="380" height="120" src="https://cdn.dragoncapital.com/media/2019/05/30150931/logo-iigcc.svg" class="attachment-full size-full" alt="" loading="lazy">
                        <p>Member Since 2010</p>
                        <p>IIGCC is an investor network on climate change; the group works with business and policy makers, as well as investors, to help mobilise capital for the transition to a more sustainable economy</p>
                    </div>
                    <div class="image-text">
                        <img width="380" height="120" src="https://cdn.dragoncapital.com/media/2019/05/30150931/logo-acga-lg.svg" class="attachment-full size-full" alt="" loading="lazy">
                        <p>Member Since 2010</p>
                        <p>ACGA is an independent organisation dedicated to implementing effective corporate governance practices throughout Asia. ACGA believes that good governance is fundamental to the region’s economies and capital markets.</p>
                    </div>
                    <div class="image-text">
                        <img width="380" height="120" src="https://cdn.dragoncapital.com/media/2019/05/30150931/logo-pri.svg" class="attachment-full size-full" alt="" loading="lazy">
                        <p>Member Since 2013</p>
                        <p>PRI initiative is a network of international investors working together to put the six Principles for Responsible Investment into practice. In implementing the Principles, signatories contribute to the development of a more sustainable global financial system.</p>
                    </div>
                </div>   
                <div class="image-text-column">
                    <div class="image-text">
                        <img width="380" height="120" src="https://cdn.dragoncapital.com/media/2020/12/18073204/nexus.jpg" class="attachment-full size-full" alt="" loading="lazy" srcset="https://cdn.dragoncapital.com/media/2020/12/18073204/nexus.jpg 380w, https://cdn.dragoncapital.com/media/2020/12/18073204/nexus-300x95.jpg 300w" sizes="(max-width: 380px) 100vw, 380px">
                        <p>Appointed in May 2020</p>
                        <p>The creation of the “Dragon Capital Chair in Biodiversity Economics”
                            will look to address the central question of whether there is any correlation between biodiversity and the success of the economy and whether individuals and organisations can, and should, place an economic value on biodiversity.</p>
                    </div>
                    <div class="image-text">
                        <img width="760" height="240" src="https://cdn.dragoncapital.com/media/2020/12/18073521/viod.jpg" class="attachment-full size-full" alt="" loading="lazy" srcset="https://cdn.dragoncapital.com/media/2020/12/18073521/viod.jpg 760w, https://cdn.dragoncapital.com/media/2020/12/18073521/viod-300x95.jpg 300w" sizes="(max-width: 760px) 100vw, 760px">
                        <p>Strategic agreement to strengthen biodiversity since 2019.</p>
                        <p>Undertakes the E&S valuation of Ca Mau’s wetland and Pu Mat National Park that demonstrates the economic value of biodiversity and the consequences of its degradation. Thus, advocating for mainstreaming considerations for the conservation and restoration of biodiversity and ecosystems values.</p>
                    </div>
                    <div class="image-text">
                        <img width="380" height="120" src="https://cdn.dragoncapital.com/media/2021/04/26163226/vbf.png" class="attachment-full size-full" alt="" loading="lazy" srcset="https://cdn.dragoncapital.com/media/2021/04/26163226/vbf.png 380w, https://cdn.dragoncapital.com/media/2021/04/26163226/vbf-300x95.png 300w" sizes="(max-width: 380px) 100vw, 380px">
                        <p>Co-organiser and sole sponsor since 2008</p>
                        <p>VLCA was initiated in 2008 by Dragon Capital, and co-organized with the Ho Chi Minh City Stock Exchange, the Hanoi Stock Exchange, and the Vietnam Investment Review. Since 2013 there has been a further ESG awareness push, and in a more general industry-wide initiative, VLCA’s organisers launched Sustainability Reporting Awards, and Best Corporate Governance Awards.</p>
                    </div>
                </div>   
            </div>
        </div>
    </section>
    <section class="section-buttom" style="margin-top: 30px;">
        <div class="warp">
            <nav class="footnav" >
                <ul id="menu-footer-menu"  class="menu-1">
                    <li ><a href="home" aria-current="page">Home</a></li>
                    <li ><a href="about">About</a></li>
                    <li ><a href="OUR_PRODUCTS">Our Products</a></li>
                    <li ><a href="NEWS-EVENTS">News &amp; Events</a></li>
                    <li ><a href="Contact">Contact</a></li>
                </ul>
            </nav>
            <div class="footnav">
                <ul id="menu-legal" class="menu-1">
                    <li ><a href="">Privacy Policy</a></li>
                    <li ><a href="">Cookie policy</a></li>
                    <li ><a href="Disclaimer">Disclaimer</a></li>
                    <li ><a href="Accessibility">Accessibility</a></li>
                </ul>
            </div>
            <div class="legal">			                 
                <div class="legal-logos">                 
                    <img width="346" height="48" src="https://cdn.dragoncapital.com/media/2019/04/30153017/dragon-capital.svg" class="custom-logo" alt="Dragon Capital Group">
                </div>   
                <p class="copy">
                    © 2022 Dragon Capital Group.  All rights reserved. Made by
                    <!-- <a class="ir" href="https://www.brighterir.com" style="color:aliceblue;"> BRIGHTER<span class="bir">*</span><strong>IR</strong></a> -->
                </p>               
            </div>
        </div>
    </section>
</body>
</html>