<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vietnam_Enterprise_Investments_Limited</title>
    <link rel="stylesheet" href="/home/Vietnam_enterprise_investments_limited.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" src="/js/home.js>"></script>

</head>
<body>
    <header class="header">
        <div class="wrap" style="display: flex;justify-content: space-around;">
            <h1 id="branding">
                <a href="home.html" class="custom-logo-link" rel="home" aria-current="page"><img width="346" height="48" src="https://cdn.dragoncapital.com/media/2019/04/30153017/dragon-capital.svg" class="custom-logo" alt="Dragon Capital Group"></a>
            </h1>  
            <div class="menu">
                <ul>
                    <li><a href="about">ABOUT</a>
                        <ul>
                            <li><a href="Board_Management" >Board &amp; Management</a></li>
                            <li><a href="VietNam" >VietNam</a></li>
                            <li><a href="Affiliations" >Affiliations</a></li>
                            <li><a href="History" >History</a></li>
                            <li><a href="Responsible_Investment" >Responsible Investment</a></li>
                            <li><a href="Careers" >Careers</a></li>
                        </ul>
                    </li>
                    <li><a href="OUR_PRODUCTS">OUR PRODUTOR</a>
                        <ul>
                            <li><a href="Vietnam_Enterprise_Investments_Limited" >Vietnam Enterprise Investments Limited</a></li>
                            <li><a href="" >Vietnam Equity (UCITS) Fund</a></li>
                            <li><a href="#" >Vietnam Debt Fund SPC – B Share</a></li>
                            <li><a href="Segregated_Managed_Accounts" >Segregated Managed Accounts</a></li>
                        </ul>
                    </li>
                    <li><a href="New-events">NEWS & EVENTS</a></li>
                    <li><a href="Contact">CONTACT</a></li>
                    
                </ul>
            </div>         
    </header>

<!--  -->
    <main>
        <div class="page-banner">
            <div class="warp">
                <div class="banner-heah" style="margin-left: 40px; width: 50%;">
                    <h3>
                        <span style="font-size: 4rem;color: chocolate;">VEIL</span> 
                        <p style="font-size: 3.5rem; padding-top: 20px; color: cadetblue;"> Vietnam Enterprise Investments Limited</p> 	
                    </h3>
                    <p style="margin: 0 3rem 3rem 0;font-size: 20px;">VEIL is traded on the Main Market of the London Stock Exchange (Ticker: VEIL.LN). There are no other exchanges or trading platforms on which VEIL has applied or agreed to have its shares admitted or traded.</p>                 
                    
                </div>
                <div class="banner-widgets" >
                    <div class="banner-widget" style="margin-bottom: 30px">
                        <ul>
                            <li>
                                <h3>NAV (M)</h3>
                                <h2>USD 2,656.36</h2>
                                <h5>GBP 2,030.02</h5>
                            </li>
                            <li>
                                <h3>NAV/SHARE</h3>
                                <h2>USD 12.62</h2>
                                <h5>GBP 9.64</h5> 
                            </li>
                        </ul>
                        <p class="last-updated">(As at 06/04/2022)</p>
                    </div>
                    <div class="banner-widget">  
                        <ul>
                            <li>
                                <h3>NAV (M)</h3>
                                <h2>USD 2,656.36</h2>
                                <h5>GBP 2,030.02</h5>
                            </li>
                            <li>
                                <h3>NAV/SHARE</h3>
                                <h2>USD 12.62</h2>
                                <h5>GBP 9.64</h5> 
                            </li>
                        </ul>
                        <p class="last-updated">(As at 06/04/2022)</p>
                    </div>
                </div>      
            </div>
        </div>
    </main>
    <!--  -->
    <div class="content-banner">
        <div class="div-menu" style="margin-left: 0px;">
            <div class="menu-left" >
                <ul>
                    <li style="border-top: 2px solid darkcyan;"><a href="Vietnam_Enterprise_Investments_Limited">VIETNAM ENTERPRISE INVESTMENTS LIMITED</a></li>
                    <li><a href="https://www.dragoncapital.com/about/vietnam/" aria-current="page">VIETNAM EQUITY (UCITS) FUND</a></li>
                    <li><a href="Vietnam_Debt_Fund_SPC">VIETNAM DEBT FUND SPC</a></li>
                    <li style="border-bottom: 2px solid darkcyan;"><a href="Segregated_Managed_Accounts">SEGREGATED MANAGED ACCOUNTS</a></li>
                    
                </ul>
            </div>
            <div class="menu-text">
                <div class="text-content-warpper" >
                    <p>VEIL seeks long-term capital appreciation through strategic holdings in listed and pre-IPO companies that offer both attractive growth and value metrics, and strong corporate governance. VEIL allows investors to access Vietnam’s leading blue chips, including many companies that have reached their limit for foreign investment.</p>
                    <p>The fund may also invest in equity-linked instruments and private equity. VEIL’s broad universe and 3-year horizon is underpinned by conviction holdings and off-index investments</p>
                    <p >This is a closed-end fund, registered on the Cayman Islands and listed on the Main Market of the London Stock Exchange. Launched in 1995, VEIL is Vietnam’s longest running fund and one of the region’s largest dedicated offshore listed vehicles. In 2015, it merged with our Vietnam Growth Fund (VGF).</p>
                </div>
                <a class="btn " href="https://www.veil-dragoncapital.com">Take me to the VEIL website<svg role="img" xmlns="http://www.w3.org/2000/svg" width="18" height="18"><g fill="none" stroke="#74CBC8" stroke-width="2"><path stroke-linejoin="round" d="M1 9h14"></path><path d="M9 2l7 7-7 7"></path></g></svg></a>
            </div>
        </div>
    </div>
    <section class="content-footer">
        <div class="footer-wid" style="text-align: center;">
            <h2 style="color: blue;font-size: 50px;">Want to contact us?</h2>
            <p style="font-size: 20px;padding-bottom: 20px;"class="subtitle">We would be pleased to hear from you regarding <br> any investment query.</p>
            <a class="btn-center-alt" style="font-size: 20px;" href="contact">Talk to investor support<svg role="img" xmlns="http://www.w3.org/2000/svg" width="18" height="18"><g fill="none" stroke="#74CBC8" stroke-width="2"><path stroke-linejoin="round" d="M1 9h14"></path><path d="M9 2l7 7-7 7"></path></g></svg></a>
        </div>
    </section>
    <section class="section-buttom">
        <div class="warp">
            <nav class="footnav" >
                <ul id="menu-footer-menu"  class="menu-1">
                    <li ><a href="home" aria-current="page">Home</a></li>
                    <li ><a href="about">About</a></li>
                    <li ><a href="OUR_PRODUCTS">Our Products</a></li>
                    <li ><a href="NEWS-EVENTS">News &amp; Events</a></li>
                    <li ><a href="Contact">Contact</a></li>
                </ul>
            </nav>
            <div class="footnav">
                <ul id="menu-legal" class="menu-1">
                    <li ><a href="">Privacy Policy</a></li>
                    <li ><a href="">Cookie policy</a></li>
                    <li ><a href="Disclaimer">Disclaimer</a></li>
                    <li ><a href="Accessibility">Accessibility</a></li>
                </ul>
            </div>
            <div class="legal">			                 
                <div class="legal-logos">                 
                    <img width="346" height="48" src="https://cdn.dragoncapital.com/media/2019/04/30153017/dragon-capital.svg" class="custom-logo" alt="Dragon Capital Group">
                </div>   
                <p class="copy" style="color: azure;">
                    © 2022 Dragon Capital Group.  All rights reserved. Made by
                    <a class="ir" style="text-decoration: none;" href="https://www.brighterir.com"> BRIGHTER<span class="bir">*</span><strong>IR</strong></a>
                </p>               
            </div>
        </div>
    </section>
</body>
</html>