<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VietNam</title>

    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="/styles/VietNam.css">
    <script type="text/javascript" src="/js/home.js>"></script>

</head>
<body>
    <header class="header">
        <div class="wrap" style="display: flex;justify-content: space-around;">
            <div class="page-wrap">
                <h1 id="branding">
                    <a href="" class="custom-logo-link" rel="home" aria-current="page">
                        <img width="346" height="48" src="https://cdn.dragoncapital.com/media/2019/04/30153017/dragon-capital.svg" class="custom-logo" alt="Dragon Capital Group">
                    </a>
                </h1>
            </div>
            <input class="menu-btn" type="checkbox" id="menu-btn"/>   
            <label class="menu-icon" for="menu-btn">
                <span class="nav-icon"></span>
            </label>              
            <ul class="menu">
                <li><a href="about">ABOUT</a>
                    <ul>
                        <li><a href="Board_Management" >Board &amp; Management</a></li>
                        <li><a href="VietNam" >VietNam</a></li>
                        <li><a href="Affiliations" >Affiliations</a></li>
                        <li><a href="History" >History</a></li>
                        <li><a href="Responsible_Investment" >Responsible Investment</a></li>
                        <li><a href="Careers" >Careers</a></li>
                    </ul>
                </li>
                <li><a href="OUR_PRODUCTS">OUR PRODUTOR</a>
                    <ul>
                        <li><a href="Vietnam_Enterprise_Investments_Limited.html">Vietnam Enterprise Investments Limited</a></li>
                        <li><a href="" >Vietnam Equity (UCITS) Fund</a></li>
                        <li><a href="#" >Vietnam Debt Fund SPC – B Share</a></li>
                        <li><a href="Segregated_Managed_Accounts.html" >Segregated Managed Accounts</a></li>
                    </ul>
                </li>
                <li><a href="NEWS -EVENTS">NEWS & EVENTS</a></li>
                <li><a href="Contact">CONTACT</a></li>
            </ul>
        </div>
    </header>
    <main>
        <div class="page-banner">
            <div class="warp">
                <div class="banner-heah-warp">
                    <h3>
                        <span>ABOUT VIETNAM</span> 
                        <p>Vietnam </p> 	
                    </h3>
                    <p >Since Dragon Capital was established in 1994, the nation has visibly evolved from bikes through to motorbikes and now cars. Vietnam is centuries of material development compressed into decades.</p>     
                </div>
                <div class="banner-widgets">
                    <div class="banner-widget">
                        <p>Consistently growing by close to 7% annually, Vietnam is rapidly transforming into an export powerhouse </p>							                               
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div class="content-banner">
        <div class="div-menu" style="margin-left: 0px;">
            <div class="menu-left" >
                <ul>
                    <li style="border-top:2px solid #007d68;"><a href="Board_Management">Board &amp; Management</a></li>
                    <li ><a href="VietNam">Vietnam</a></li>
                    <li ><a href="Affiliations">Affiliations</a></li>
                    <li ><a href="History">History</a></li>
                    <li ><a href="Responsible_Investment">Responsible Investment</a></li>
                    <li style="border-bottom:2px solid #007d68;"><a href="Careers">Careers</a></li> 
               </ul>
            </div>
            <div class="menu-text">
                <div class="text-content">
                    <p>Vietnam continues to be one of Asia’s most compelling investment stories. With 94 million people – 41% of whom are aged under 25 – this young and dynamic country is the world’s 15th most populous.</p>
                </div>
                <div class="text-content-warpper" >
                    <p>Vietnam benefits from excellent demographics, an entrepreneurial culture, abundant resources, a largely coastal population living on its long seaboard, and a strategic location bordering China in the north.</p>
                    <p>Vietnam’s lower wages and operating costs are allowing it to capture manufacturing business from China. At the same time, newly signed trade agreements and internal reforms are making it ever easier for foreign companies to do business here.</p>
                    <p>Consistently growing by close to 7% annually, Vietnam is rapidly transforming into an export powerhouse with a thriving domestic consumer market to match. As a place to invest, the country continues to offer extraordinary potential.</p>
                </div>
            </div>
        </div>
    </div>
    <section class="section-bottom-class">
        <div class="heading-buttom">
            <div class="div-text">
                <div class="buttom-1">
                    <span class="vc_tta-title-text">Market review</span>
                </div>
                <div class="buttom-2">
                    <span class="vc_tta-title-text">Economy review</span>
                </div>
            </div>
          
        </div>
        <div class="bottom-column">
            <div class="bottom-warp">
                <div class="bottom-text">
                    <p>VNI +1.1% in December and might have been higher if not for margin clean-up</p>
                </div>
            </div>
            <div class="content-bottom-text">   
                <div class="warp-text">
                    <p >The VN Index gained 1.14% ($TR) in December, closing at 1498.&nbsp; Early on it was knocked to 1414 by the Omicron variant but recovered quickly as reports suggested that Omicron is far less severe than Delta, but more infectious.&nbsp; The benchmark came close to a new high, albeit on falling liquidity due to the approaching holidays.&nbsp; Average daily turnover declined 17% mom to $1,191m on the HOSE, and $1,446m on the combined exchanges.&nbsp; This coincided with margin clean-up by brokers at the end of the quarter, which hit prices.&nbsp; Foreigners were again net sellers, offloading $128m, although this was less than November’s $383m.</p>
                </div>
            </div>
            <div class="bottom-warp">
                <div class="bottom-text">
                    <p>Smaller-cap’s kept on going, but must eventually cede to big-cap’s to reflect economic reality</p>
                </div>
            </div>
            <div class="content-bottom-text">   
                <div class="warp-text">
                    <p style="font-size: 20px;">Second-liners continued to run at the expense of blue chips.  The small-cap index was +4.6% and the mid-cap index +7.4%, while the VN30 fell 0.1%.  The only really bright spot among heavyweights was that banks were mixed, but in some cases well ahead of the benchmark, putting the sector up 2.1%.  This was after months of banks being weaker overall.  We may see a wholesale move back into blue chips after six months of focus on second-liners by local retail investors.  Continuing to dismiss the surge of SMEs as unsustainable – or transitory – does seem reminiscent of the way the US Federal Reserve until recently discussed inflation.  But we believe it is more likely that as the economy returns to its normal growth pattern in 2022, quality big-cap stocks, which best reflect the macro drivers, will come back into their own.</p>
                </div>
            </div>
            <div class="bottom-warp">
                <div class="bottom-text">
                    <p>Market was a global leader in 2021, and made big progress developmentally</p>
                </div>
            </div>
            <div class="content-bottom-text">   
                <div class="warp-text">
                    <p style="font-size: 20px;">Meanwhile it is worth reflecting that not only did Vietnam have one of the best returns globally in 2021, at +39.0%, it also experienced significant progress in market development.  There are now 63 companies with capitalization in excess of $1bn.  Daily turnover has reached a new normal of $1bn, and often much more, which is above many EM peers.  Monthly new-account openings currently surpass all the openings in 2019.  As volumes spiraled in 1H21, exchange computers froze up and trading halts plagued the market, but they were fully resolved by Aug.  Market infrastructure will get another boost with the arrival of a new Korean trading system during 2Q22, which will bring T+0 settlement, and scope for yet higher turnover.  Futures, options, warrants and other derivative products will also evolve in the coming months.</p>
                </div>
            </div>
            <div class="bottom-warp">
                <div class="bottom-text">
                    <p>The economic recovery may only be starting, and stocks are cheap</p>
                </div>
            </div>
            <div class="content-bottom-text">   
                <div class="warp-text">
                    <p style="font-size: 20px;">If the Fed manages to tighten in a constructive way, the fundamentals point to another positive year in 2022.  With 70% of the population fully vaccinated, and a fiscal support package about to be launched, economic recovery will only just be starting.  We forecast a market EPS of +22.6% and expect share prices to follow, since that level of earnings growth would leave the PER at only 11.8x.  That is cheap in its own right, and very inexpensive vs regional peers.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="section-buttom" style="margin-top: 30px;">
        <div class="warp">
            <nav class="footnav" >
                <ul id="menu-footer-menu"  class="menu-1">
                    <li ><a href="home" aria-current="page">Home</a></li>
                    <li ><a href="about">About</a></li>
                    <li ><a href="OUR_PRODUCTS">Our Products</a></li>
                    <li ><a href="NEWS-EVENTS">News &amp; Events</a></li>
                    <li ><a href="Contact">Contact</a></li>
                </ul>
            </nav>
            <div class="footnav">
                <ul id="menu-legal" class="menu-1">
                    <li ><a href="">Privacy Policy</a></li>
                    <li ><a href="">Cookie policy</a></li>
                    <li ><a href="Disclaimer">Disclaimer</a></li>
                    <li ><a href="Accessibility">Accessibility</a></li>
                </ul>
            </div>
            <div class="legal">			                 
                <div class="legal-logos">                 
                    <img width="346" height="48" src="https://cdn.dragoncapital.com/media/2019/04/30153017/dragon-capital.svg" class="custom-logo" alt="Dragon Capital Group">
                </div>   
                <p class="copy">
                    © 2022 Dragon Capital Group.  All rights reserved. Made by
                    <a class="ir" href="https://www.brighterir.com" style="color:aliceblue;"> BRIGHTER<span class="bir">*</span><strong>IR</strong></a>
                </p>               
            </div>
        </div>
    </section>
</body>
</html>