*body{
    margin: 0;
    padding: 0;
    
    font-family: linotype-sabon, sans-serif;
    color: #807F83;
    position: relative;
}
.header{
    width: 100%;
    max-height: 80px;
    position: fixed ;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #fff;
}
.header .wrap{
    position: relative;
}
#branding{
    float: left;
    padding-bottom: 20px;
}
.wrap{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.menu{
    width: 60%;
    height: 70px;
    padding-left: 30px;
    float: left;
    display: flex;
}
ul{
    margin: 0;
    padding: 0;
    padding-top: 13px;
    list-style: none;
}
li a{
    display: inline-block;
    color: #807F83;
    text-align: center;
    padding:14px 16px ;
    text-decoration: none;
    font-size: 20px;
}
.menu ul :hover{
    color: #007d68;
}
/*menu con*/
/*Ẩn các menu con cấp 1,2,3*/

.menu > ul{
    height: 20px;

}
.menu > ul > li{
    display: inline-block;
    position: relative;
   padding-bottom: 30px;

}
.menu > ul > li > ul {
    display: none;
    position: absolute;
    top: 15px;
    width: 300px;
    background-color : #74CBC8;
    margin-top: 52px;
    padding-top: 0;
    /* padding-bottom: 0; */
}
.menu > ul > li > ul li{
    /* padding: 10px 0; */
    border-bottom: 1px solid #dddddd;
    
    
}
.menu > ul > li > ul li a{
    color: #fff;
    text-align: left;
    
}
.menu > ul > li > ul :hover{
    color: #78a22f;
}
ul li:last-child{
    border: none;
}
.menu ul li:hover ul{
    display: block;
}
/* ##################### */
main{
    box-sizing: border-box;
}
.page-banner{
    /* margin-bottom: 5rem;
    padding: 5rem 0; */
    background: #f3eee7;
    margin-top: 68px;
}
.page-banner .wrap {
    position: relative;
}
.warp {
    width: 88%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 2rem;
    
}
.page-banner .banner-head {
    width: 100%;
    padding-right: 10px;
    font: inherit;
}
.page-banner .banner-head p {
    font-size: 1.95rem;
    color: #06364C;
}
div{
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
.page-banner .banner-widgets {
    width: 50%;
    margin: 35px 0 -20px 0;
    padding-left: 30px;
    position: absolute;
    bottom:  200px;
    right: 0;

}
.page-banner .banner-widget {
    padding: 2.8rem 2.8rem 2.6rem 2.8rem;
    color: #fff;
    background: #005A84;
    margin-right: 8px;
}
.page-banner h3 {
    font-family: Montserrat, sans-serif;
    font-size: 1.8rem;
    color: #fff;
    margin-bottom: 0;
}
.banner-heah h3 span{
    font-size: 1.5rem;
    color: chocolate;
    
}
.banner-heah p{
    margin: 0 3rem 3rem 0;
    font-size: 20px;
    
}
/* ##################### */
.content-banner{
    height: auto;
    float: left;
    margin: 60px 60px 0px 60px;
}
.div-menu{
    width: 88%;
    max-width: 1230px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}
.menu-left{
    width: 35%;
    height: auto;
    float: left;
}

.menu-left ul{
    list-style: none;
    float: left;  
    padding: 2.8rem 2.8rem 2.6rem 2.8rem;
    background: #f3eee7;
}
.menu-left ul li{
    text-decoration: none;
    border-bottom: 1px solid #807F83;
    background: #f3eee7;
}
.menu-left ul li a {
    display: block;
    font-size: 1.0rem;
    left: 0.075rem;
    text-transform: uppercase;
    color: #807f83;
    padding: 16px 6px 15px 6px;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    text-align: left;
}
.menu-left a:hover{
    color: #000;
}
/* #### */
.menu-text{
    width: 60%;
    height: auto;
    float: left;
    margin-left: 30px;
    margin-top: 20px;
    

}
.text-content p {
    color: #06364C;
    margin-bottom: 3rem;
    font-size: 4rem;
    margin-top: 0;
}
.text-content-warpper p {
    margin: 0 0 2rem 0;
    font-size: 20px;
    margin-left: 40px; 
    padding: 1.8rem 2.8rem 2.6rem 2.8rem;
    background-color: #dddddd;
    
    
}
.text-content-warpper{
    border-left: 5px solid #dddddd;
    margin-left: 5rem;
}
.menu-text .text-content-warpper img{
    margin-left: 10rem;
    width:80%;
    height: 20rem;
}
/* ##################### */
.section-buttom{
    width: 100%;
    float: left;
    color: #fff;
    background: #007d68;
}
.section-buttom .warp{
    width: 88%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 0;
    
}
.warp ::before{
    content: "";
    table-layout: fixed;
}
.warp ::after{
    clear: both;
    display: table;
    table-layout: fixed;
}
.footnav{
    overflow: hidden;
    font-family: Montserrat, sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    color: #fff;
    font-size: 16px;
    
}
.footnav ul{
    list-style: none;
    
}
.menu-1 li{
    float: left;
    border: none;
    position: relative;
}
.menu-1 li a{
    color: #fff;
    letter-spacing: .094rem;
    font-size: 20px;
    display: inline-block;
    padding:14px 16px ;
    text-decoration: none;
   
}
.footnav li::after{
    content: "";
    display: block;
    width: 1px;
    height: 30px;
    background: #78a22f;
    position: absolute;
    right: 0;
    top: 12px;
}
.legal-logos p{
    font-size: 1.4rem;
    margin: 0 0 4px 0;
}
.legal-logos a{
    text-decoration: none;
}
.legal-logos a:link{
    color: #74CBC8;
}
.legal-logos img{
    margin: 0 0 8px auto;
    display: block;
    max-width: 100%;
    height: auto;
}
.made-by a{
    transition: color 0.2s ease-in-out;
}
.warp .legal{
    float: right;
}


